mixin side-cart()
  +b.CartOverlay&attributes(attributes)
    +e.header
      +e.P.title SHOPPING CART
      +icon('close_bold').__close.js-side-cart-close

    +e.items
      each item in [0, 1, 2]
        +cart-item(getData('cart-items')[item], false, true)._small.__item

    +e.info
      each section in getData('side-cart')
        +e.info-section
          each item in section
            +e.info-item(class=item.itemClass)
              +e.P.info-title!= item.title
              +e.P.info-value(class=item.valueClass)!= item.value

    +e.buttons
      +button()(href="#").__button.CartOverlay-CartButton ολοκληρωση παραγγελιασ
      +button()(href="#")._style_light.__button.CartOverlay-CartButton Συνεχεια αγορων

mixin ui-kit-side-cart()
  +ui-section
    +ui-section-head
      +ui-title Component side-cart
      +ui-path
        p Component: components/side-cart/side-cart
      +ui-description
        p Component description

    +ui-section-content()
      +side-cart

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
