mixin side-cart()
  +b.CartOverlay.js-side-cart-close&attributes(attributes)
    .container
      +e.wrapper
        +e.header
          +e.P.title SHOPPING CART
          +e.amount
            img(src="assets/images/bag.png")
            span (2)

        +e.items
          each item in [0, 1, 2]
            +cart-item(getData('cart-items')[item])._small.__item

        +e.info
          +e.P.info-title ΣΥΝΟΛΙΚΗ ΤΙΜΗ
          +e.P.info-value 120,50€

        +e.buttons
          +button()(href="#")._style_light.__button.CartOverlay-CartButton ΚΑΛΑΘΙ
          +button()(href="#")._with-arrow.__button.CartOverlay-CartButton
            span ΠΛΗΡΩΜΗ
            +icon('arrow_button')

mixin ui-kit-side-cart()
  +ui-section
    +ui-section-head
      +ui-title Component side-cart
      +ui-path
        p Component: components/side-cart/side-cart
      +ui-description
        p Component description

    +ui-section-content()
      +side-cart

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
