.CartOverlay {
  display: none;
  position: absolute;
  right: 0;
  top: 99px;
  bottom: 0;
  padding: 27px 32px;
  background: white;
  z-index: 1000;
  border-left: 1px solid $color-border;
  box-sizing: border-box;
  width: 415px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  transition: transform $ease-main, opacity $ease-main;
  transform: translate3d(100%, 0, 0);
  opacity: 0;

  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: $font-main;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .06em;
    padding-right: 20px;
    flex-grow: 1;
  }

  &__close {
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  // Items

  &__items {
    margin-top: 24px;
  }

  &__item {
    margin-top: 0;

    &:not(:first-child) {
      margin-top: 35px;
    }
  }

  // Info

  &__info {
    margin-top: 20px;
  }

  &__info-section {
    border-top: 1px solid $color-border;
    padding-top: 10px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 4px;
    }
  }

  &__info-title {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    text-transform: uppercase;
    flex-grow: 1;
    padding-right: 20px;
  }

  &__info-value {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: .06em;
    text-transform: uppercase;

    &_red {
      color: $color-red;
    }

    &_summ {
      font-size: 15px;
      line-height: 25px;
    }
  }

  // Buttons

  &__buttons {
    margin-top: 30px;
  }

  &__button {
    width: 100%;
    display: block;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
