mixin slogan-slider()
  +b.slogan-slider.js-slogan-slider&attributes(attributes)
    +e.arrow._prev.js-slider-prev
      +icon('arrow')

    .swiper-container
      .swiper-wrapper
        .swiper-slide
          p Δωρεάν αποστολές & δωρεάν αντικαταβολή σε όλη την Ελλάδα

        .swiper-slide
          p Δωρεάν αποστολές & δωρεάν

        .swiper-slide
          p Δωρεάν αποστολές & δωρεάν αντικαταβολή σε

    +e.arrow._next.js-slider-next
      +icon('arrow')

mixin ui-kit-slogan-slider()
  +ui-section
    +ui-section-head
      +ui-title Slogan Slider
      +ui-path
        p Component: components/slogan-slider/slogan-slider

    +ui-section-content()
      +slogan-slider

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
