mixin popup-size()
  +b.popup-size&attributes(attributes)
    +e.P.title Επέλεξε το μέγεθός σου

    +e.items
      each item in getData('popup-size')
        +e.LABEL.size
          +e.INPUT.input(type="radio" value=item.text name="size_popup" checked=item.checked disabled=item.disabled)
          +e.box!= item.text

    +e.link
      a(href="#") size guide

    +button()(href="#").__button προσθηκη στο καλαθι

mixin ui-kit-popup-size()
  +ui-section
    +ui-section-head
      +ui-title Popup Size
      +ui-path
        p Component: components/popup-size/popup-size

    +ui-section-content()
      +popup-size

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
