.checkradio {
  display: flex;
  cursor: pointer;
  text-align: center;

  $b: &;

  &__input {
    display: none;
  }

  &__box {
    @include rule(width, (xl: 13px, lg: 11px));
    @include rule(height, (xl: 13px, lg: 11px));
    @include rule(margin-right, (xl: 10px, lg: 6px));
    @include rule(margin-top, (xl: 1px, lg: 2px));

    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    transition: border-color $ease-main;
    background: white;

    #{$b}_light & {
      border-color: white;
    }

    #{$b}_radio & {
      border-radius: 50%;

      &::before {
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }

    #{$b}.parsley-error & {
      border-color: $color-red;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-main;
      display: block;
      opacity: 0;
      transition: opacity $ease-main;
      border-radius: 0;

      @include center-image;
    }

    #{$b}__input:checked + &::before {
      opacity: 1;
    }
  }

  &__content {
    @include rule(font-size, (xl: 12px, lg: 11px));

    line-height: 1.4;
    letter-spacing: .06em;
    text-transform: capitalize;
    color: $color-placeholder;
    text-align: left;

    #{$b}_light & {
      color: $color-grey-48;
    }
  }
}
