.inputbox {
  display: block;
  position: relative;

  $b: &;

  & + & {
    margin-top: 24px;

    &_link {
      margin-top: 11px;
    }

    &_text {
      margin-top: 7px;
    }

    &_checkbox {
      margin-top: 15px;

      &_big-margin {
        @include rule(margin-top, (xl: 30px, lg: 35px));
      }

      & + & {
        @include rule(margin-top, (xl: 5px, lg: 15px));
      }
    }

    &_button {
      @include rule(margin-top, (xl: 25px, lg: 26px));

      .Button {
        width: 100%;
      }
    }

    &_final {
      @include rule(margin-top, (xl: 32px, lg: 37px));
    }
  }

  &_checkbox + &_checkbox {
    margin-top: 8px;
  }

  &_button {

    .button {
      width: 100%;
      display: block;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .06em;
    text-transform: uppercase;

    @include rule(margin-bottom, (xl: 0, lg: 1px));
  }

  &__wrapper {
    position: relative;
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: .06em;
    text-transform: uppercase;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .12em;
    text-transform: capitalize;
    color: $color-grey-3;

    a {
      color: black;
      text-decoration: underline;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }
  }
}

.parsley-errors-list {
  @include rule(font-size, (xl: 12px, lg: 10px));
  @include rule(line-height, (xl: 15px, lg: 14px));

  letter-spacing: .06em;
  text-transform: capitalize;
  color: $color-red;
}
