// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;

  @include rule(border, (xl: 1px solid $color-grey-28, lg: 0));
  @include rule(height, (xl: 21px, lg: 25px));
  @include rule(flex-direction, (lg: row-reverse));
  @include rule(background, (lg: $color-grey-7));

  &__button {
    border: 0;
    display: block;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
    transition: fill $ease-main;
    position: relative;

    @include rule(width, (xl: 20px, lg: 26px));
    @include rule(fill, (xl: $color-grey-28, lg: black));

    svg {
      @include rule(width, (xl: 11px, lg: 8px));
      @include rule(height, (xl: 10px, lg: 8px));
      @include center-image;
    }

    &:hover {
      fill: black;
    }
  }

  &__input {
    flex: 1;
    border: 0;
    text-align: center;
    width: 100%;
    background: transparent;
    padding: 0;

    @include rule(font-weight, (xl: 700, lg: 600px));
    @include rule(font-size, (xl: 12px, lg: 11px));

    line-height: 15px;
    letter-spacing: .06em;
    text-transform: capitalize;
  }
}
