// #####
// Блок выбора количества
// #####

.input-numberbox {
  display: flex;
  width: 100%;
  box-sizing: border-box;

  @include rule(height, (xl: 20px, lg: 16px));

  &__button {
    font-size: 16px;
    border: 0;
    display: block;
    cursor: pointer;
    text-align: center;
    transition: opacity $ease-main;
    position: relative;
    width: auto;
    color: black;
    line-height: 1;

    &::before {
      content: '';
      position: absolute;
      left: -5px;
      top: -5px;
      right: -5px;
      bottom: -5px;
    }

    &:hover {
      opacity: .5;
    }
  }

  &__input {
    flex: 1;
    border: 0;
    text-align: center;
    width: 100%;
    background: transparent;
    padding: 0;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: .06em;
    text-transform: capitalize;
    height: 100%;

    @include rule(font-size, (xl: 14px, lg: 12px));
  }
}
