// #####
// Кастомные селекты
// #####

@import '../../node_modules/choices.js/public/assets/styles/choices.min.css';

.select {
  appearance: none;
  border: 1px solid $color-grey-15;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 40px 0 10px;

  @include rule(background, (xl: transparent, lg: $color-grey-7));
  @include rule(height, (xl: 31px, lg: 35px));
  @include rule(line-height, (xl: 29px, lg: 33px));
  @include rule(border-color, (lg: $color-grey-7));
  @include rule(font-weight, (xl: 300, lg: 400));

  font-size: 14px;
  letter-spacing: .06em;
  min-height: 0;
}

.choices {

  &__inner, &[data-type*='select-one'] &__inner {
    @extend .select;

    transition: border-color $ease-main;
  }

  &__placeholder {
    opacity: 1;

    @include rule(color, (xl: $color-grey-16, lg: $color-grey-19));
  }

  &[data-type*='select-one'] {

    .choices__inner { padding-bottom: 0; }

    &::after {
      @include rule(right, (xl: 15px, lg: 11px));

      border: 0 !important;
      top: 0;
      bottom: 0;
      margin: auto !important;
      transform: rotate(0) translate3d(0, 0, 0);
      transition: transform $ease-main;
      width: 15px;
      height: 9px;
      background-size: 100% 100%;
      background-image: url('../images/arrow_select.svg');
    }

    &.is-open::after {
      transform: rotate(180deg) translate3d(0, 0, 0);
    }
  }

  &__list {
    border-color: $color-border;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-right: 20px;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &--dropdown {
      box-sizing: border-box;
      padding: 5px 0;
      z-index: 10;

      .choices__placeholder {
        display: none;
      }

      .choices__item {
        padding: 7px 10px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .06em;
        text-transform: uppercase;

        &--selectable {
          transition: opacity $ease-main;

          &.is-highlighted {
            opacity: .5;
            background-color: white;
          }
        }
      }
    }
  }

  &.is-open & {

    &__inner {
      @include screen('lg') {
        background-color: white;
        border-color: $color-grey-15;
      }
    }
  }
}

// Catalogue Select

.catalogue__select {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  background: transparent;
  letter-spacing: .06em;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;

  @include rule(font-weight, (xl: 600, lg: 400));
  @include rule(padding, (xl: 0 50px, lg: 0 20px));
  @include rule(width, (xl: 440px, lg: auto));

  @include screen(lg) {
    border-left: 1px solid $color-red-31;
    border-right: 1px solid $color-red-31;
  }
}

.choices.choices_catalogue {

  .choices__inner {
    @extend .catalogue__select;
  }

  .choices__placeholder {
    color: $color-basic;
    opacity: 1;
  }

  &[data-type*=select-one]::after {
    width: 11px;
    height: 6px;
    right: 0;
    background-image: url('../images/arrow_select_store.svg');

    @include rule(display, (lg: none));
  }

  .choices__list {
    border: 0;

    &--single {
      padding-right: 0;

      .choices__item {
        @include screen(lg) {
          max-width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        @include screen(lg, min) {

          &::before {
            content: 'TAΞΙΝΟΜΗΣΗ ΑΝΑ : ';
            font-weight: 400;
          }
        }
      }
    }
  }

  .choices__list--dropdown {
    margin-top: -1px;
    border: 1px solid $color-red-31;
    background: white;
    padding: 0 20px;
    border-radius: 0;
    left: -1px;

    @include screen(lg) {
      width: auto;
      white-space: nowrap;
      left: 0;
      margin-top: 0;
      padding: 0;
    }
  }

  .choices__list--dropdown .choices__item {
    @include rule(padding, (xl: 13px 0, lg: 14px 20px));
    @include rule(text-align, (xl: center, lg: left));
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(line-height, (xl: 15px, lg: 14px));

    background: transparent;
    transition: font-weight $ease-main;
    text-transform: uppercase;

    &:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 rgba(black, .05);
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    opacity: 1;
    background: transparent;
    font-weight: 700;
  }
}

.choices.choices_default {

  &[data-type*=select-one] {

    .choices__inner {
      border: 1px solid $color-red-32;
      border-radius: 2px;
      padding: 0 44px 0 11px;
      font-size: 12px;
      letter-spacing: .06em;
      color: black;
      background: transparent;

      .choices__placeholder {
        color: black;
      }

      .choices__list--single {
        padding-right: 0;
        border: 0;
      }
    }

    &::after {
      width: 11px;
      height: 11px;
      background-image: url('../images/arrow_select_store.svg');
      background-size: 100% 100%;
      right: 15px;
    }

    .choices__list--dropdown .choices__item {
      padding: 7px 10px;
      font-size: 12px;
      text-transform: uppercase;
    }

    .choices__list--dropdown {
      border-color: $color-red-32;
    }
  }
}

.choices.choices_stores {

  &[data-type*=select-one] {

    .choices__inner {
      border: 1px solid $color-grey-14;
      line-height: 1;
      letter-spacing: .06em;
      background: transparent;
      border-radius: 0;

      @include rule(font-size, (xl: 14px, lg: 12px));
      @include rule(padding, (xl: 0 40px 0 25px, lg: 0 40px 0 12px));
      @include rule(height, (xl: 44px, lg: 35px));

      .choices__placeholder {
        color: black;
      }

      .choices__list--single {
        padding-right: 0;
        border: 0;
      }
    }

    &::after {
      width: 14px;
      height: 8px;
      background-image: url('../images/arrow_select_store.svg');
      background-size: 100% 100%;

      @include rule(right, (xl: 18px, lg: 12px));
    }

    .choices__list--dropdown .choices__item {
      @include rule(padding, (xl: 10px 24px, lg: 7px 11px));
    }

    .choices__list--dropdown {
      border-color: $color-grey-14;
    }
  }
}
