// #####
// Кастомные селекты
// #####

@import '../../node_modules/choices.js/public/assets/styles/choices.min.css';

.select {
  appearance: none;
  border: 1px solid $color-grey-15;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 40px 0 10px;

  @include rule(background, (xl: transparent, lg: $color-grey-7));
  @include rule(height, (xl: 31px, lg: 35px));
  @include rule(line-height, (xl: 29px, lg: 33px));
  @include rule(border-color, (lg: $color-grey-7));
  @include rule(font-weight, (xl: 300, lg: 400));

  font-size: 14px;
  letter-spacing: .08em;
  text-transform: lowercase;
  min-height: 0;
}

.choices {

  &__inner, &[data-type*='select-one'] &__inner {
    @extend .select;

    transition: border-color $ease-main;
  }

  &__placeholder {
    opacity: 1;

    @include rule(color, (xl: $color-grey-16, lg: $color-grey-19));
  }

  &[data-type*='select-one'] {

    .choices__inner { padding-bottom: 0; }

    &::after {
      @include rule(right, (xl: 15px, lg: 11px));

      border: 0 !important;
      top: 0;
      bottom: 0;
      margin: auto !important;
      transform: rotate(0) translate3d(0, 0, 0);
      transition: transform $ease-main;
      width: 15px;
      height: 9px;
      background-size: 100% 100%;
      background-image: url('../images/arrow_select.svg');
    }

    &.is-open::after {
      transform: rotate(180deg) translate3d(0, 0, 0);
    }
  }

  &__list {
    border-color: $color-border;

    &--single {
      display: table;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      padding-right: 20px;

      .choices__item {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &--dropdown {
      box-sizing: border-box;
      padding: 5px 0;
      z-index: 10;

      .choices__placeholder {
        display: none;
      }

      .choices__item {
        padding: 7px 10px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .08em;
        text-transform: uppercase;

        &--selectable {
          transition: opacity $ease-main;

          &.is-highlighted {
            opacity: .5;
            background-color: white;
          }
        }
      }
    }
  }

  &.is-open & {

    &__inner {
      @include screen('lg') {
        background-color: white;
        border-color: $color-grey-15;
      }
    }
  }
}

// Catalogue Select

.catalogue__select {
  @include rule(height, (xl: 68px, lg: 40px));
  @include rule(padding, (xl: 0 50px, lg: 0 10px));
  @include rule(line-height, (xl: 16px, lg: 15px));
  @include rule(font-size, (xl: 13px, lg: 12px));
  @include rule(font-weight, (xl: 700, lg: 400));

  border: 0;
  border-radius: 0;
  background: $color-grey-7;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.choices.choices_catalogue {

  .choices__inner {
    @extend .catalogue__select;
  }

  .choices__placeholder {
    color: $color-basic;
    opacity: 1;
  }

  &[data-type*=select-one]::after {
    @include rule(width, (xl: 13px, lg: 10px));
    @include rule(height, (xl: 8px, lg: 7px));
    @include rule(right, (xl: 50px, lg: 10px));
  }

  .choices__list {
    border: 0;
  }

  .choices__list--dropdown {
    @include rule(margin-top, (xl: 22px, lg: 10px));

    border: 0;
    background: transparent;
    padding: 0;
    border-radius: 0;
  }

  .choices__list--dropdown .choices__item {
    @include rule(padding, (xl: 25px 50px, lg: 10px));

    background: $color-grey-7;
    transition: font-weight $ease-main;

    &:not(:last-child) {
      box-shadow: inset 0 -1px 0 0 rgba(black, .05);
    }
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    opacity: 1;
    background: $color-grey-7;
    font-weight: 700;
  }
}

.choices.choices_default {

  &[data-type*=select-one] {

    .choices__inner {
      border: 1px solid $color-border;
      padding: 0 26px 0 10px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: .08em;
      text-transform: capitalize;
      background: transparent;
      border-radius: 0;

      .choices__list--single {
        padding-right: 0;
        border: 0;
      }
    }

    &::after {
      background: none;
      height: 0 !important;
      width: 0 !important;
      border-style: solid !important;
      border-width: 5px 4.5px 0 !important;
      border-color: #000 transparent transparent !important;
      right: 14px;
    }

    .choices__list--dropdown .choices__item {
      padding: 5px 9px;
    }

    .choices__list--dropdown {
      border-color: $color-border;
    }
  }
}
