.cart-info {
  display: block;

  @include screen(lg, min) {
    padding: 21px 24px 24px;
    border: 1px solid #cbcbcb;
  }

  @include rule(margin-top, (lg: 24px));

  $b: &;

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .06em;
    margin-bottom: 13px;
  }

  &__content {
    box-sizing: border-box;

    @include rule(margin-top, (xl: 7px, lg: 0));
  }

  &__content {
    transition: opacity $ease-main;
  }

  &__text {
    display: flex;

    @include rule(font-weight, (xl: 300, lg: 600));
    @include rule(font-size, (xl: 14px, lg: 12px));
    @include rule(line-height, (xl: 18px, lg: 15px));

    letter-spacing: .06em;
    text-transform: uppercase;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 10px, lg: 12px));
    }

    &_price {

      span:last-child {
        @include rule(font-size, (lg: 14px));
      }
    }

    span {

      &:first-child {
        flex-grow: 1;
      }

      &:last-child {
        margin-left: 20px;
        flex-shrink: 0;
        font-weight: 600;
      }
    }
  }

  &__send {
    @include rule(margin-top, (xl: 23px, lg: 16px));
    @include rule(font-size, (xl: 16px, lg: 14px));
    @include rule(height, (xl: 45px, lg: 40px));

    width: 100%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .25);
    font-weight: 600;

    @include screen(lg, min) {
      background: #23a738;
      background: linear-gradient(180deg, rgba(35, 167, 56, .4) 0%, rgba(255, 255, 255, 0) 100%), #23a738;
    }
  }
}
