mixin cart-info()
  +b.cart-info&attributes(attributes).CartPage-Floating
    +e.P.title.hide-lg ΣΥΝΟΛΟ

    +e.content
      each item in getData('cart-info')
        +e.text(class=item.class)
          span!= item.text

          if item.price
            span!= item.price

    +e.final
      +button()(href="#")._with-arrow.__send.CartPage-CheckoutButton
        div
          span ΠΛΗΡΩΜΗ
          +icon('arrow_button')

mixin ui-kit-cart-info()
  +ui-section
    +ui-section-head
      +ui-title Cart info
      +ui-path
        p Component: components/cart-info/cart-info

    +ui-section-content()
      +cart-info

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
