extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Sitemap'

block content
  +b.sitemap
    .container
      +e.A.link(href="#popup-login").js-fancybox [Popup] Sign In (#popup-login)
      +e.A.link(href="cart.html").js-side-cart-open [Desktop Popup] Sidebar Shopping Cart
      +e.A.link(href="#popup-notify").js-fancybox [Desktop Popup] Notify Me
      br
      br
      +e.A.link(href="index.html") Main Page (index.html)
      +e.A.link(href="cart.html") Shopping Cart (cart.html)
      +e.A.link(href="stores.html") Stores (stores.html)
      +e.A.link(href="catalogue.html") Catalogue (catalogue.html)
      +e.A.link(href="product.html") Product (product.html)
      +e.A.link(href="product_amount.html") Product With Amount (product_amount.html)
      +e.A.link(href="ui-kit.html") UI-kit (ui-kit.html)
