@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/basics';
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: $container-width;

  @include rule(padding-left, (xl: $container-padding, lg: 20px));
  @include rule(padding-right, (xl: $container-padding, lg: 20px));

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;

  &_small {
    width: 1420px;
  }

  &_big {
    width: 100%;
  }
}

.js-sr {
  visibility: hidden;
}

.main {
  flex-grow: 1;
}

body {
  position: relative;
}

@each $i in ('xl', 'lg', 'md', 'sm', 'xs') {

  .hide-#{$i} {
    @include screen(#{$i}) {
      display: none;
    }
  }
}

@each $i in ('xl', 'lg', 'md', 'sm', 'xs') {

  .show-#{$i} {
    @include screen(#{$i}, min) {
      display: none;
    }
  }
}
