.catalogue {
  display: block;

  $b: &;

  > .container {
    @include rule(display, (xl: flex, lg: block));
  }

  &__left {
    @include screen('lg', min) {
      width: 280px;
      flex-shrink: 0;
    }
  }

  &__right {
    flex-grow: 1;
  }

  &__header {
    display: flex;

    @include rule(height, (xl: 50px, lg: 46px));

    @include screen(lg) {
      margin: 0 -20px;
      padding: 0 20px;
      border-bottom: 1px solid $color-red-31;
      justify-content: space-between;
      position: relative;
      z-index: 10;
    }
  }

  &__breadcrumbs {
    flex: 1;
    height: 100%;
    justify-content: center;
  }

  &__title {
    @include rule(height, (xl: 68px, lg: auto));
    @include rule(background, (xl: $color-grey-7, lg: 0));
    @include rule(padding, (xl: 10px, lg: 0));
    @include rule(font-size, (xl: 15px, lg: 14px));
    @include rule(line-height, (xl: 19px, lg: 18px));
    @include rule(font-weight, (xl: 700, lg: 400));

    @include screen('lg') {
      position: absolute;
      height: 18px;
      top: 0;
      bottom: 0;
      left: 65px;
      right: 65px;
      margin: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .06em;
    text-transform: uppercase;
  }

  &__content {
    @include rule(margin, (xl: 22px 0 0, lg: 0 -20px 0));
  }

  &__filters-button {
    line-height: 1;
    height: 100%;
    appearance: none;
    background: transparent;
    cursor: pointer;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    letter-spacing: .06em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: fill $ease-main, color $ease-main;
    fill: black;
    position: relative;

    &::before {
      content: '';
      left: -20px;
      top: 5px;
      bottom: 5px;
      right: -15px;
      background: black;
      position: absolute;
      opacity: 0;
      transition: opacity $ease-main;
    }

    &.is-active {
      fill: white;
      color: white;

      svg {
        display: block;
      }

      &::before {
        opacity: 1;
      }
    }

    span, svg {
      position: relative;
      z-index: 3;
    }

    svg {
      width: 12px;
      height: 12px;
      margin-left: 10px;
      display: none;
    }

    &:hover {
      opacity: .5;
    }
  }
}
