.catalogue-settings {
  @include screen('lg', min) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 40px;
    background: $color-grey-7;
    height: 68px;
  }

  $b: &;

  &__title {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-right: 20px;
  }

  &__amounts {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__amount {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    &.is-active {
      font-weight: 700;
      text-decoration: underline;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-left: 13px;
    }
  }

  &__grids {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 20px;
    flex-shrink: 0;
    font-size: 0;
  }

  &__grid {
    transition: fill $ease-main;
    fill: $color-grey-20;
    border: 0;
    padding: 0;
    appearance: none !important;
    font-size: 0;

    @include rule(height, (xl: 14px, lg: 13px));

    &:hover, &.is-active {
      fill: $color-dark-1;
    }

    &.is-active {
      pointer-events: none;
    }

    svg {
      @include rule(height, (xl: 14px, lg: 13px));
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 11px, lg: 10px));
    }
  }
}
