mixin catalogue-settings()
  +b.catalogue-settings&attributes(attributes)
    +e.grids.show-lg
      +e.BUTTON.grid(type="button", data-catalogue-columns="1" data-res="mobile")
        +icon('grid_lg_one')(viewBox="0 0 19 14")

      +e.BUTTON.grid(type="button", data-catalogue-columns="2" data-res="mobile").is-active
        +icon('grid_lg_two')(viewBox="0 0 19 14")

    +e.grids.hide-lg
      +e.BUTTON.grid(type="button", data-catalogue-columns="3" data-res="desktop")
        +icon('grid_one')(viewBox="0 0 17 14")

      +e.BUTTON.grid(type="button", data-catalogue-columns="2" data-res="desktop")
        +icon('grid_two')(viewBox="0 0 17 14")

      +e.BUTTON.grid(type="button", data-catalogue-columns="4" data-res="desktop").is-active
        +icon('grid_three')(viewBox="0 0 17 14")
