include catalogue-settings

mixin catalogue()
  +b.catalogue&attributes(attributes)
    .container
      +e.left
        +filters

      +e.right
        +e.header
          +breadcrumbs([{"text": "ΗΟΜΕ", "link": "#"}, {"text": "ΡΟΥΧΑ", "link": "#"}, {"text": "NEEΣ ΑΦΙΞΕΙΣ"}]).__breadcrumbs.hide-lg

          +e.BUTTON.filters-button(type="button").js-filters-open.show-lg
            span φιλτρα
            +icon('checkbox_tick')
          +catalogue-settings
          +e.SELECT.select(name="#").js-catalogue-select
            option(value="ΝΕΟΤΕΡΑ" selected) ΝΕΟΤΕΡΑ
            option(value="ΑΥΞΟΥΣΑ ΤΙΜΗ") ΑΥΞΟΥΣΑ ΤΙΜΗ
            option(value="ΦΘΙΝΟΥΣΑ ΤΙΜΗ") ΦΘΙΝΟΥΣΑ ΤΙΜΗ
            option(value="ΒEST SELLERS") ΒEST SELLERS

        +e.content
          +grid.grid_catalogue_cols_xl_4.grid_catalogue_cols_lg_2
            each item in getData('product-cards')
              +col({xl: 4, lg: 6})
                +product-card(item)(class=(item.special ? '_special' : false))

          +load-more.hide-lg

mixin ui-kit-catalogue()
  +ui-section
    +ui-section-head
      +ui-title Catalogue
      +ui-path
        p Component: components/catalogue/catalogue

    +ui-section-content(true)
      +catalogue

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
