.dropdown {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  margin-top: 8px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .05);
  opacity: 0;
  pointer-events: none;
  transition: opacity $ease-main;
  font-size: 14px;
  white-space: nowrap;
  z-index: 50;

  $b: &;

  &__link {
    display: block;
    transition: opacity $ease-main;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .12em;
    text-transform: uppercase;

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }

  &_position_top {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 12px;
  }
}
