mixin product-result()
  +b.product-result&attributes(attributes)
    +e.wrapper
      +e.default
        +e.header
          +e.P.text Σακακι με εμπριμε Φοδρα
          +e.P.price 109,90 €

        +e.content
          +e.select-wrapper
            +e.SELECT.select.js-select(name="size")
              option(value="Μέγεθος" placeholder) Μέγεθος
              option(value="ES - 6") ES - 6
              option(value="S - 8") S - 8
              option(value="M - 10" disabled) M - 10
              option(value="L - 12") L - 12
              option(value="XL - 14 ") XL - 14
          +button('button')(type="button").__button._submit.ProductActions-AddToCart.js-button-add-to-cart
            span ΠΡΟΣΘΗΚΗ ΣΤΟ ΚΑΛΑΘΙ

      +e.sent
        +e.P.success-text
          +icon('checkbox_tick')
          span ΤΟ ΠΡΟΙΟΝ ΠΡΟΣΤΕΘΗΚΕ ΣΤΟ ΚΑΛΑΘΙ ΣΟΥ

        +e.content
          +button()(href="#")._style_light.__button._light KΑΛΑΘΙ
          +button()(href="#")._with-arrow.__button._next
            div
              span ΠΛΗΡΩΜΗ
              +icon('arrow_button')

      +icon('close').__close.js-product-result-close

mixin ui-kit-product-result()
  +ui-section
    +ui-section-head
      +ui-title Product Result
      +ui-path
        p Component: components/product-result/product-result

    +ui-section-content()
      +product-result

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
