mixin product-result()
  +b.product-result&attributes(attributes)
    +e.header
      +e.P.text Σακακι με εμπριμε Φοδρα
      +e.P.price 109,90 €

    +e.content
      +e.select-wrapper
        +e.SELECT.select.js-select(name="size")
          option(value="M-10") Size: M-10
          option(value="M-11") Size: M-11
          option(value="M-12") Size: M-12

        +e.amount
          +input-number

      +button('button')(type="button")._submit-button.__button.js-popup-minicart-open.ProductActions-AddToCart
        +icon('done')
        span προσθηκη στο καλαθι

mixin ui-kit-product-result()
  +ui-section
    +ui-section-head
      +ui-title Product Result
      +ui-path
        p Component: components/product-result/product-result

    +ui-section-content()
      +product-result

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
