.brand {
  display: block;
  position: relative;

  @include rule(padding-bottom, (xl: 49px, lg: 0));

  $b: &;

  &__header {
    @include rule(padding, (lg: 30px 20px));
    @include rule(background, (lg: #f5f5f5));
  }

  .container {
    @include screen(lg) {
      display: flex;
      align-items: center;
      padding: 0;
    }
  }

  &::after {
    @include screen(lg, min) {
      content: '';
      position: absolute;
      right: calc((100vw - 1600px) / -2);
      left: calc(50vw - 180px);
      background: #f5f5f5;
      height: 408px;
      bottom: 0;

      @media (max-width: 1720px) {
        right: -60px;
      }
    }
  }

  &:not(:first-child) {
    @include rule(margin-top, (xl: 98px, lg: 50px));
  }

  &__title {
    @include rule(font-size, (xl: 40px, lg: 20px));
    @include rule(line-height, (xl: 50px, lg: 25px));
    @include rule(color, (lg: #4c4c4c));
    @include rule(text-align, (xl: center, lg: left));

    letter-spacing: .06em;
    font-family: $font-second;
  }

  &__content {
    @include rule(padding-left, (xl: 375px, lg: 0));
    @include rule(width, (lg: 50%));
    @include rule(margin-top, (xl: 40px, lg: 0));
    @include rule(flex-shrink, (lg: 0));

    position: relative;
    z-index: 2;
  }

  &__button {
    margin-top: 20px;
    display: block;
    width: 100%;
    background: black;
    border-radius: 2px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: opacity $ease-main;
    color: white;
    font-size: 14px;
    letter-spacing: .06em;
    text-align: center;

    &:hover {
      opacity: .5;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      @include fill-img;
    }

    &_1 {
      @include screen(lg, min) {
        position: absolute;
        left: 0;
        top: 112px;
        width: 345px;
        bottom: 164px;
      }

      @include screen(lg) {
        width: 100%;
        height: 254px;
      }
    }

    &_2 {
      width: 100%;

      &::after {
        content: '';
        display: block;
        padding-bottom: (9/16) *100%;
      }

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &_3 {
      flex: 1;
      height: 246px;
    }
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  &__stores {
    margin-right: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    border: 1px solid black;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .06em;
    margin-left: 30px;
    font-weight: 300;

    b {
      font-weight: 600;
    }
  }
}
