mixin offer()
  +b.offer.js-slider-offer&attributes(attributes)
    .swiper-container
      .swiper-wrapper
        each slide in getData('offer')
          +e.slide.swiper-slide
            img(src=slide.image, alt=slide.text)

      +e.dots
        +e.dot

mixin ui-kit-offer()
  +ui-section
    +ui-section-head
      +ui-title Offer
      +ui-path
        p Component: components/offer/offer

    +ui-section-content(true)
      +offer

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
