mixin cart()
  +b.cart&attributes(attributes)
    .container.container_small
      +cart-final.show-lg

      +e.header
        +e.H1.title ΚΑΛΑΘΙ ΑΓΟΡΩΝ
        +e.A.back(href="#").show-lg
          +icon('arrow_right_burger')

      +e.content
        +grid.grid_cart
          +col({xl: 8, lg: 12})
            +e.cart-items
              each item in [0, 1, 2]
                +cart-item(getData('cart-items')[item])

            +cart-back.hide-lg

            +cart-additional.__additional.show-lg

            +cart-info.show-lg

            +product-slider(getData('product-cards'))(data-slides="[6, 2]").__slider LOOKING FOR THESE... ?

            +cart-additional.__additional.hide-lg

          +col({xl: 4, lg: 12}).hide-lg
            +cart-info

mixin ui-kit-cart()
  +ui-section
    +ui-section-head
      +ui-title Cart
      +ui-path
        p Component: components/cart/cart

    +ui-section-content(true)
      +cart

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
