.cart {
  display: block;

  @include rule(padding-top, (xl: 37px, lg: 0));

  $b: &;

  &__additional {
    @include rule(margin-top, (xl: 78px, lg: 5px));
  }

  &__header {
    @include rule(margin-bottom, (xl: 12px, lg: 5px));

    @include screen(lg) {
      margin-left: -20px;
      margin-right: -20px;
      padding: 0 20px;
      height: 40px;
      text-align: center;
      border-width: 1px 0;
      border-style: solid;
      border-color: #e0e0e0;
      position: relative;
    }
  }

  &__back {
    position: absolute;
    left: 20px;
    width: 6px;
    height: 11px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: opacity $ease-main;
    font-size: 0;
    display: block;
    line-height: 0;

    &::after {
      content: '';
      left: -10px;
      top: -10px;
      right: -10px;
      bottom: -10px;
      position: absolute;
    }

    &:hover {
      opacity: .5;
    }

    svg {
      width: 100%;
      height: 100%;
      vertical-align: top;
      transform: rotate(180deg);
    }
  }

  &__title {
    font-weight: 600;
    letter-spacing: .06em;

    @include rule(font-size, (xl: 25px, lg: 16px));
    @include rule(line-height, (xl: 30px, lg: 40px));
  }

  &__content {
    @include rule(margin-top, (xl: 26px, lg: 0));

    padding: .1px;

    .grid__col {
      transition: margin $ease-main;
    }
  }

  &__slider {
    margin-top: 50px;
  }
}
