.slider-pages {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  letter-spacing: .06em;
  font-family: $font-second;
  width: auto;
  text-align: center;

  $b: &;

  &__current {
    font-size: 24px;
    line-height: 30px;
    min-width: 45px;
  }

  &__slash {
    font-size: 24px;
    line-height: 30px;
  }

  &__amount {
    font-size: 13px;
    line-height: 16px;
    color: $color-grey-18;
    margin-bottom: 3px;
    min-width: 25px;
  }
}
