mixin pagination()
  +b.pagination&attributes(attributes)
    +e.A.link(href="#") PREVIOUS
    +e.pages
      +e.P.page 1
      +e.A.page(href="#") 2
      +e.A.page(href="#") ...
      +e.A.page(href="#") 4
    +e.A.link(href="#") NEXT

mixin ui-kit-pagination()
  +ui-section
    +ui-section-head
      +ui-title Pagination
      +ui-path
        p Component: components/pagination/pagination

    +ui-section-content()
      +pagination

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
