mixin breadcrumbs(data)
  +b.breadcrumbs&attributes(attributes)
    each crumb in data
      +e.item
        +e(crumb.link ? 'a' : 'span').link(href=crumb.link)!= crumb.text

mixin ui-kit-breadcrumbs
  +ui-section
    +ui-section-head
      +ui-title Breadcrumbs
      +ui-path
        p Block: blocks/breadcrumbs/breadcrumbs

    +ui-section-content()
      +breadcrumbs([{"text": "ΑΡΧΙΚh", "link": "#"}, {"text": "store locator"}])

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
