$breadpadding: 35px;

.breadcrumbs {
  display: flex;
  align-items: center;
  max-width: 100%;
  white-space: nowrap;

  $b: &;

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: black;

    #{$b}_small & {
      font-size: 12px;
    }

    &:last-child {
      overflow: hidden;
    }

    &:not(:last-child)::after {
      content: '/';
      margin: 0 10px;
      color: #a5a5a5;
    }

    a {
      font-weight: 400;
      transition: color $ease-main;
      color: #a5a5a5;

      &:hover {
        color: black;
      }
    }
  }

  &__link {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
