.Footer {
  display: block;
  background: $color-grey-7;

  @include rule(margin-top, (xl: 45px, lg: 30px));

  $b: &;

  &__top {
    @include rule(padding, (xl: 10px 0, lg: 0));
    @include rule(border-width, (xl: 1px 0, lg: 0));

    border-style: solid;
    border-color: $color-grey-2;
    position: relative;

    @include screen('lg', min) {
      transition: margin $ease-main;

      #{$b}.has-submenu-open & {
        margin-bottom: 60px;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    @include rule(align-items, (xl: center, lg: flex-start));
    @include rule(flex-wrap, (lg: wrap));
    @include rule(margin, (lg: 0 -20px));
  }

  &__item {
    @include rule(position, (lg: relative));
    @include rule(width, (lg: 50%));

    &:nth-of-type(3n) {
      @include rule(width, (lg: 100%));
    }
  }

  &-Link {
    line-height: 1.4;
    letter-spacing: .12em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: opacity $ease-main, border-color $ease-main, box-shadow $ease-main;

    @include rule(font-size, (xl: 13px, lg: 10px));
    @include rule(padding, (xl: 10px 0, lg: 0));
    @include rule(height, (lg: 40px));
    @include rule(border-bottom, (lg: 1px solid $color-grey-5));
    @include rule(justify-content, (lg: center));
    @include rule(cursor, (xl: pointer));

    &:hover {
      opacity: .5;
    }

    @include screen('lg') {

      &.is-active:not([href]) {
        border-bottom-color: transparent;
        font-weight: 700;
      }

      #{$b}__item:nth-of-type(1) &, #{$b}__item:nth-of-type(2) & {
        border-top: 1px solid transparent;

        &:not([href]).is-active {
          border-top-color: $color-grey-5;
        }
      }

      #{$b}__item:nth-of-type(3n + 1) &:not([href]).is-active {
        box-shadow: inset -1px 0 0 0 $color-grey-5;
      }

      #{$b}__item:nth-of-type(3n + 2) &:not([href]).is-active {
        box-shadow: inset 1px 0 0 0 $color-grey-5;
      }
    }
  }

  &__plus {
    margin-left: 10px;
    width: 7px;
    height: 7px;
    position: relative;

    &::before, &::after {
      content: '';
      width: 100%;
      height: 1px;
      transition: transform $ease-main;
      background: $color-basic;

      @include center-image;
    }

    &::after {
      transform: rotate(90deg);
    }

    #{$b}-Link.is-active &::after {
      transform: rotate(0);
    }
  }

  &__submenu {
    @include screen('lg', min) {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      right: 0;
      padding: 0;
      z-index: 50;
      white-space: nowrap;
      pointer-events: none;
      background: $color-grey-7;
      border-bottom: 1px solid $color-grey-2;
      transition: opacity $ease-main;
      opacity: 0;
      display: none;

      .container {
        display: flex;
        align-items: center;
        height: 59px;
        justify-content: space-between;
      }

      #{$b}-Link.is-active + & {
        opacity: 1;
        pointer-events: all;
      }
    }

    @include screen('lg') {
      display: none;
      font-size: 0;
      box-shadow: inset 0 -1px 0 0 $color-grey-5;

      .container {
        display: block;
        padding: 0;
      }

      #{$b}__item:nth-of-type(3n + 1) & {
        margin-right: -100%;
      }

      #{$b}__item:nth-of-type(3n + 2) & {
        margin-left: -100%;
      }
    }
  }

  &__subitem {
    @include screen('lg') {
      padding: 20px;
      width: 50%;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;

      &:not(:first-child) {
        margin-top: -15px;
      }
    }
  }

  &__sublink {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: .12em;
    text-transform: uppercase;
    transition: opacity $ease-main;

    @include screen('lg', min) {
      font-size: 13px;
    }

    &:hover {
      opacity: .5;
    }
  }

  // Middle

  &__middle {
    @include rule(padding, (xl: 19px 0, lg: 23px 0 0));
  }

  // Bottom

  &__bottom {
    @include rule(padding, (xl: 18px 0, lg: 4px 0));
    @include rule(border-top, (xl: 1px solid $color-grey-1, lg: 0));
    @include rule(margin-top, (lg: 19px));
    @include rule(background, (lg: white));
  }

  &-Copyright {
    @include rule(font-size, (xl: 11px, lg: 10px));

    line-height: 1.4;
    letter-spacing: .12em;
    text-transform: uppercase;
    text-align: center;

    b {
      @include screen('lg', min) {
        font-weight: 400;
      }
    }
  }
}
