.Footer {
  display: block;

  @include rule(margin-top, (xl: 45px, lg: 30px));

  $b: &;

  // Top
  &__top {
    border-top: 1px solid black;

    @include rule(border-color, (lg: #d4d4d4));

    .container {
      @include rule(padding, (lg: 0));
    }
  }

  &__top-menu {
    @include rule(padding, (xl: 11px 0, lg: 0));

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top-menu-link {
    box-sizing: border-box;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;

    @include rule(padding, (xl: 0 20px, lg: 0));
    @include rule(font-size, (xl: 16px, lg: 11px));
    @include rule(flex, (lg: 1));

    a {
      transition: color $ease-main;

      @include screen(lg) {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 20px;
      }

      &:hover {
        color: rgba(black, .5);
      }
    }

    &:not(:first-child) {
      @include screen(lg) {
        border-left: 1px solid #D4D4D4;
      }

      @include screen(lg, min) {
        &::before {
          content: '';
          height: 19px;
          width: 1px;
          display: block;
          margin: 0 94px;
          background: black;
        }
      }
    }
  }

  // Middle
  &___contacts {
    display: block;
  }

  &__contact {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #282828;

    svg {
      width: 17px;
      height: 17px;
      fill: white;
      flex-shrink: 0;
      margin-right: 11px;
    }

    a {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.06em;
      color: white;
      margin-right: 15px;
      flex-shrink: 0;
    }

    p {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.08em;
      color: #C2C2C2;
    }

    &:not(:first-child) {
      margin-top: 3px;

      a, svg {
        color: #ACACAC;
        fill: #ACACAC;
      }

      p {
        color: #ACACAC;
      }
    }
  }

  &__middle {
    @include rule(padding, (xl: 33px 0, lg: 0));
    @include rule(background, (xl: #0F0F0F, lg: #212121));

    color: white;

    .container {
      display: flex;
      justify-content: space-between;

      @include rule(padding, (lg: 0));
      @include rule(flex-direction, (lg: column));
    }
  }

  &__subscribe-form {
    @include rule(width, (xl: 412px, lg: 100%));
    @include rule(order, (lg: -1));

    @include screen(lg, min) {
      margin-left: 40px;
    }
  }

  &__menu {
    @include rule(display, (xl: flex, lg: block));

    @include screen(lg) {
      padding: 24px 20px 28px;
    }
  }

  &__item {
    &:not(:first-child) {
      @include rule(margin-left, (xl: 50px, lg: 0));
      @include rule(margin-top, (lg: 24px));
    }
  }

  &-Link {
    @include rule(font-size, (xl: 14px, lg: 11px));
    @include rule(line-height, (xl: 19px, lg: 15px));

    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    fill: white;
    cursor: pointer;

    span {
      flex: 1;
    }

    svg {
      margin-left: 20px;
      width: 11px;
      height: 6px;
      flex-shrink: 0;
      transition: transform $ease-main;
    }

    &.is-active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__submenu {
    @include screen('lg', min) {
      display: block !important;
      margin-top: 7px;
    }

    @include screen('lg') {
      display: none;
      font-size: 0;
      padding-top: 15px;
    }
  }

  &__subitem {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: #afafaf;

    a {
      transition: color $ease-main, opacity $ease-main;

      &:hover {
        color: white;
      }
    }

    &:not(:first-child) {
      margin-top: 9px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social-link {
    fill: white;
    font-size: 0;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-left: 25px;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  // Bottom

  &__bottom {
    @include rule(padding, (xl: 9px 0, lg: 2px 0));
    @include rule(margin-top, (lg: 0));
    @include rule(background, (xl: #F8F8F8));

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-Copyright {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;

    a {
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__payment-systems {
    display: flex;
    align-items: center;
    font-size: 0;

    @include rule(width, (lg: 100%));
    @include rule(justify-content, (lg: space-between));
  }

  &__payment-system {
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    &:nth-child(n + 8) {
      @include rule(display, (lg: none));
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 24px, lg: 10px));
    }
  }
}
