mixin load-more()
  +b.load-more&attributes(attributes)
    +button()(href="#")._style_light.__button ΕΜΦΑΝΙΣΗ ΠΕΡΙΣΣΟΤΕΡΩΝ

mixin ui-kit-load-more()
  +ui-section
    +ui-section-head
      +ui-title Load More
      +ui-path
        p Component: components/load-more/load-more

    +ui-section-content()
      +load-more

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
