.filters-tags {
  display: none;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid black;
  transition: opacity $ease-main;
  opacity: 0;

  @include screen(lg) {
    display: none !important;
  }

  &.is-active {
    opacity: 1;
  }

  $b: &;

  &__title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .06em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: -13px -13px 0 0;
  }

  &__tag {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    color: white;
    fill: white;
    background: black;
    cursor: pointer;
    transition: opacity $ease-main;
    margin: 13px 13px 0 0;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      opacity: .5;
    }

    span {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    svg {
      flex-shrink: 0;
      width: 9px;
      height: 8px;
      margin-left: 10px;
    }
  }
}
