mixin hot-now()
  - var data = getData('hot-now');

  +b.hot-now&attributes(attributes)
    .container
      +item-slider-small(getData('product-cards-small')) NEW & NOW

mixin ui-kit-hot-now()
  +ui-section
    +ui-section-head
      +ui-title Hot Now
      +ui-path
        p Component: components/hot-now/hot-now

    +ui-section-content(true)
      +hot-now

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
