mixin recently()
  - const data = getData('recently')

  +b.recently&attributes(attributes)
    +e.left
      +e.title MAKE YOUR WARDROBE HAPPY
      +e.subtitle TOTAL OUTFITS FOR YOU
      +e.buttons
        +button()(href="#")._style_light.__button EDITORIAL
        +button()(href="#")._style_light.__button STYLEGUIDE
      +e.items
        each item in data.items
          +e.A.item(href="#")
            img(src=item.image, alt="@@")

    +e.right
      +e.A.image(href="#")
        img(src=data.bigImage)


mixin ui-kit-recently()
  +ui-section
    +ui-section-head
      +ui-title Recently
      +ui-path
        p Component: components/recently/recently

    +ui-section-content()
      +recently

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
