.recently {
  display: block;

  $b: &;

  &__main-grid {
    align-items: center;
  }

  &__item {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    overflow: hidden;
    position: relative;
    transition: opacity $ease-main, transform $ease-main;

    &:hover {
      opacity: .5;
      transform: translate3d(0, -5px, 0);
    }

    img {
      @include fill-img;

      bottom: auto;
    }
  }

  &__links {
    // padding-left: 70px;
  }

  &__link {
    display: block;
    appearance: none;
    border: 0;
    padding: 0;
    font-size: 17px;
    line-height: 13px;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: font-weight $ease-main, border-color $ease-main;

    &.is-active {
      font-weight: 700;
      border-color: inherit;
    }

    &:not(.is-active):hover {
      font-weight: 700;
    }

    &_sale {
      color: $color-red;
    }

    &:not(:first-child) {
      margin-top: 39px;
    }
  }

  &__select-wrapper {
    margin-bottom: 10px;
  }

  .choices.choices_default {
    display: inline-block;
    width: auto;

    &[data-type*=select-one] {

      .choices__inner {
        padding: 0 20px 0 0;
        min-height: 0;
        border: 0;
        letter-spacing: .06em;
        font-size: 13px;
        line-height: 1;
        height: auto;
      }

      &::after {
        right: 0;
        width: 12px !important;
        height: 7px !important;
        border: 0 !important;
        background-size: 100% 100%;
        background-image: url('../images/arrow_select.svg');
      }
    }
  }

  .choices__list--dropdown {
    margin-top: 5px;
    white-space: nowrap;
    width: auto;
  }
}
