mixin list-checkbox(data)
  +b.LABEL.list-checkbox&attributes(attributes)
    +e.INPUT.input(name=data.name, type="checkbox", value=data.value, checked=data.checked, required=data.required)
    +e.box
      +e.P.text
        block
      +e.tick
        +icon('tick')

mixin ui-kit-list-checkbox()
  +ui-section
    +ui-section-head
      +ui-title List-checkbox
      +ui-path
        p Component: components/list-checkbox/list-checkbox
      +ui-description
        p Component description

    +ui-section-content()
      each checkbox in getData('list-checkbox')
        +list-checkbox(checkbox)!= checkbox.text

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
