.list-checkbox {
  display: block;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap;

  $b: &;
  &:not(:first-child) {
    margin-left: 43px;
  }

  &__input {
    display: none;
  }

  &__box {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__text {
    @include rule(font-size, (xl: 16px, lg: 14px));
    @include rule(line-height, (xl: 20px, lg: 14px));

    letter-spacing: 0.06em;
    font-family: $font-second;
  }

  &__tick {
    @include rule(width, (xl: 13px, lg: 11px));
    @include rule(height, (xl: 13px, lg: 11px));

    margin-right: 7px;
    font-size: 0;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    background: transparent;
    transition: background $ease-main;

    #{$b}__input:checked + #{$b}__box & {
      background: black;
    }
  }
}
