extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Main page'

block content
  +offer
  +special-link(href="#").hide-lg Come and see what’s new for you this week. New arrivals… just in! <span>#saleNewNow</span>
  +hot-now
  +shop
  +girls
