extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Main page'

block content
  +offer
  +match-point
  +trendy
  +style.hide-lg
  +brand
  +layer.hide-lg
  +hot-now.show-lg
  +girls
