mixin map()
  +b.map&attributes(attributes)
    block

mixin ui-kit-map
  +ui-section
    +ui-section-head
      +ui-title Map
      +ui-path
        p Block: blocks/map/map
      +ui-description
        p Made with Leaflet.js
