extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Cart'

block content
  .container.hide-lg
    +go-back(href="#") ΣΥΝΕΧΙΣΗ ΑΓΟΡΩΝ

  +cart

  +section._grey
    .container
      +grid.grid_cart
        +col({xl: 9, lg: 12})
          +product-slider(getData('product-cards_preview')) PAIR IT WITH

  +back-to-top.hide-lg
