.product-sticky {
  @include screen(lg) {
    display: none !important;
  }

  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  padding: 5px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  transition: opacity $ease-main;
  opacity: 0;

  &.is-active {
    opacity: 1;
  }

  $b: &;

  .container {
    display: flex;
    align-items: center;
  }

  &__images {
    display: flex;
    flex-shrink: 0;
  }

  &__image {
    width: 48px;
    height: 71px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    img {
      @include fill-img;
    }

    &:not(:first-child) {
      margin-left: 5px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    margin-left: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__prices {
    margin-left: 26px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    flex-shrink: 0;
    white-space: nowrap;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.06em;

    &:not(:first-child) {
      margin-left: 11px;
    }

    &_new {
      color: #BE1B1B;
    }

    &_old {
      font-size: 14px;
      line-height: 1;
      text-decoration: line-through;
      font-weight: 400;
    }
  }

  &__right {
    margin-left: auto;
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  &__right-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.08em;
  }

  &__button {
    margin-left: 14px;
    min-width: 384px;
  }

  &__select-box {
    margin-left: 34px;

    .choices {
      margin-bottom: 0;
    }

  }

  &__select {
    @include rule(height, (xl: 40px, lg: 35px));
    @include rule(padding, (xl: 0 50px 0 18px, lg: 0 40px 0 12px));
    @include rule(font-size, (xl: 14px, lg: 11px));

    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #979797;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .06em;
    width: 100%;
    border-radius: 2px;
    background: white;
  }

  .choices.choices_product {
    .choices__placeholder {
      color: black;
    }

    &[data-type*=select-one] {

      .choices__inner {
        @extend .product-sticky__select;
      }

      &::after {
        width: 14px;
        height: 8px;
        background-image: url(../images/arrow_select_store.svg);
        background-size: 100% 100%;

        @include rule(right, (xl: 18px, lg: 9px));
      }
    }

    .choices__list--dropdown {
      border-color: #979797;
      border-width: 0 1px 1px;
      margin-top: -1px;

      &::before {
        @include rule(left, (xl: 17px, lg: 10px));
        @include rule(right, (xl: 17px, lg: 10px));

        content: '';
        top: 0;
        height: 1px;
        position: absolute;
        background: #D2D2D2;
      }

      .choices__item {
        @include rule(padding, (xl: 6px 17px, lg: 6px 10px));
        @include rule(font-size, (xl: 12px, lg: 11px));

        line-height: 16px;
        letter-spacing: 0.06em;
        transition: background $ease-main, font-weight $ease-main;
        color: black;
        opacity: 1;

        &--disabled {
          color: #848484 !important;
          background: transparent !important;
          font-weight: 400 !important;

          &::after {
            content: '';
            width: 11px;
            height: 11px;
            background: url('../images/email.svg');
            background-size: 100% 100%;
            display: inline-block;
            vertical-align: middle;
            margin-left: 12px;
          }
        }

        &.is-highlighted {
          font-weight: 700;
          background: #F6F6F6;
          color: black;
          opacity: 1;
        }
      }
    }
  }
}
