mixin popup-preview()
  +b.popup-preview&attributes(attributes)
    +e.popup
      +e.head
        +e.P.title ΠΡΟΣΤΕΘΗΚΕ ΣΤΟ ΚΑΛΑΘΙ
        +icon('close_bold').__close.js-popup-minicart-close

      +e.item
        +cart-item(getData('cart-items')[0])._static

      +button('button').__button.js-popup-minicart-close ολοκληρωση παραγγελιασ

mixin ui-kit-popup-preview()
  +ui-section
    +ui-section-head
      +ui-title Component popup-preview
      +ui-path
        p Component: components/popup-preview/popup-preview
      +ui-description
        p Component description

    +ui-section-content()
      +popup-preview

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
