@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }

.popup {
  width: 100%;
  background: white;
  position: relative;
  padding: 0;

  @include rule(height, (lg: 100%));
  @include rule(overflow, (lg: auto));
  @include rule(border-radius, (xl: 2px, lg: 0));
  @include rule(max-width, (xl: 808px, lg: none));

  &__close {
    @include rule(padding, (xl: 20px, lg: 10px));
    @include rule(fill, (xl: white, lg: black));

    cursor: pointer;
    transition: opacity $ease-main;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 14px;
    z-index: 5;
    box-sizing: content-box;

    &:hover {
      opacity: .5;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__images {
    position: relative;
    width: 379px;
    overflow: hidden;

    @include rule(display, (lg: none));

    img {
      @include fill-img;
    }
  }

  &__info {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 42px;
    z-index: 1;
  }

  &__info-wrapper {
    width: 100%;
    box-sizing: border-box;
    background: rgba(black, .4);
    padding: 12px 24px 20px;
    color: rgba(white, .8);
    fill: rgba(white, .8);
  }

  &__info-title {
    color: $color-grey-27;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: .06em;
    font-weight: 700;
  }

  &__info-list {
    margin-top: 11px;
  }

  &__info-item {
    display: flex;
    align-items: center;

    svg {
      width: 13px;
      height: 10px;
      flex-shrink: 0;
      margin-right: 8px;
    }

    span {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: .06em;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__content {
    flex: 1;

    @include rule(padding, (xl: 25px, lg: 0 20px 24px));
  }

  &__links {
    display: flex;

    @include rule(margin, (lg: 0 -20px 32px));
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: font-weight $ease-main, border-color $ease-main, color $ease-main;
    color: #999;

    @include rule(border-bottom-color, (lg: $color-border));
    @include rule(line-height, (lg: 34px));
    @include rule(text-align, (lg: center));
    @include rule(width, (lg: 50%));

    &.is-active {
      color: black;
      font-weight: 700;
      border-color: inherit;
    }

    @include screen(lg, min) {
      font-size: 16px;
      font-weight: 600 !important;
      line-height: 22px;
      color: #999;

      &.is-active {
        color: black;
      }

      &:not(:first-child) {
        margin-left: 22px;
      }
    }
  }

  &__forms {
    @include rule(margin-top, (xl: 31px, lg: 0));

    transition: height $ease-main;
  }

  &__form {
    display: none;
    transition: opacity $ease-main, transform $ease-main;
    opacity: 0;
    transform: translate3d(0, 10px, 0);

    .inputbox_link {
      margin-bottom: auto;
    }

    &.is-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &.is-active-passive {
      display: block;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;

    @include rule(min-height, (xl: 235px, lg: 0));
  }
}

.fancybox-slide--html {
  @include rule(padding, (xl: 20px, lg: 91px 0 0));
}

.fancybox-close-small {
  display: none;
}

.fancybox-bg {
  @include rule(background, (xl: rgba(black, .45), lg: transparent));
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-container {
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}
