// ##########
// Basic layout settings
// ##########
$container-width: 1720px; // Max. container width
$container-padding: 60px; // Container padding
$grid-container-width: 100%; // Grid width
$grid-cols: 12; // Columns count
$grid-gap: 14px; // Column gap (horizontal)
$grid-gap-vertical: 30px; // Column gap (vertical)
$breakpoints: (
  'xl': 1920px,
  'xlg': 1440px,
  'lg': 1360px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Colors
// ##########
$color-basic: black; // Basic color (for <body>)
$color-input: black; // Input, textarea, select color
$color-main: black; // Main UI color
$color-placeholder: #9b9b9b; // Placeholder color
$color-border: #efefef; // Main border color
$color-grey-1: #ebebeb;
$color-grey-5: #d2d2d2;
$color-grey-7: #fbfbfb;
$color-grey-8: #f6f6f6;
$color-grey-9: #f5f5f5;
$color-grey-10: #f0f0f0;
$color-grey-12: #d4d4d4;
$color-grey-13: #f7f7f7;
$color-grey-14: #dadada;
$color-grey-15: #b7b7b7;
$color-grey-17: #e0e0e0;
$color-grey-18: #aaa;
$color-red-30: #c4c4c4;
$color-grey-40: #cbcbcb;
$color-grey-52: #f8f8f8;
$color-grey-47: #e1e1e1;
$color-grey-58: #dcdcdc;
$color-red-31: #e5e5e5;
$color-grey-49: #ececec;
$color-grey-41: #f4f4f4;
$color-grey-43: #efefef;
$color-red-36: #f2f2f2;
$color-red-37: #d9d9d9;
$color-grey-37: #c9c9c9;
$color-grey-46: #b6b6b6;
$color-red-32: #d8d8d8;
$color-red-35: #b8b8b8;
$color-grey-38: #b0b0b0;
$color-grey-48: #c2c2c2;
$color-grey-11: #acacac;
$color-grey-53: #afafaf;
$color-red-38: #9e9e9e;
$color-grey-4: #979797;
$color-red-39: #9c9c9c;
$color-grey-30: #878787;
$color-grey-19: #8d8d8d;
$color-grey-31: #a4a4a4;
$color-grey-16: #888;
$color-grey-32: #a1a1a1;
$color-grey-33: #9d9d9d;
$color-grey-34: #8c8c8c;
$color-grey-35: #8e8e8e;
$color-grey-39: #828282;
$color-grey-55: #9a9a9a;
$color-grey-42: #9b9b9b;
$color-grey-54: #a0a0a0;
$color-grey-6: #848484;
$color-grey-3: #787878;
$color-red-33: #666;
$color-red-34: #626262;
$color-grey-36: #757575;
$color-grey-56: #767045;
$color-grey-44: #696969;
$color-grey-57: #4c4c4c;
$color-dark-2: #615f5f;
$color-grey-45: #282828;
$color-grey-51: #212121;
$color-grey-50: #0f0f0f;
$color-dark-1: #020000;

$color-green: #23a738;
$color-red: #c91010;
$color-red-1: #e01338;
$color-red-2: #c92c52;
$color-red-3: #be1b1b;

// ##########
// Colors array for UI-kit
// ##########
$colors: (
  '$color-basic': black,
  '$color-input': black,
  '$color-main': black,
  '$color-placeholder': #9b9b9b,
  '$color-border': #efefef,
  '$color-grey-1': #ebebeb,
  '$color-grey-5': #d2d2d2,
  '$color-grey-7': #fbfbfb,
  '$color-grey-8': #f6f6f6,
  '$color-grey-9': #f5f5f5,
  '$color-grey-10': #f0f0f0,
  '$color-grey-12': #d4d4d4,
  '$color-grey-13': #f7f7f7,
  '$color-grey-14': #dadada,
  '$color-grey-15': #b7b7b7,
  '$color-grey-17': #e0e0e0,
  '$color-grey-18': #aaa,
  '$color-red-30': #c4c4c4,
  '$color-grey-40': #cbcbcb,
  '$color-grey-52': #f8f8f8,
  '$color-grey-47': #e1e1e1,
  '$color-grey-58': #dcdcdc,
  '$color-red-31': #e5e5e5,
  '$color-grey-49': #ececec,
  '$color-grey-41': #f4f4f4,
  '$color-grey-43': #efefef,
  '$color-red-36': #f2f2f2,
  '$color-red-37': #d9d9d9,
  '$color-grey-37': #c9c9c9,
  '$color-grey-46': #b6b6b6,
  '$color-red-32': #d8d8d8,
  '$color-red-35': #b8b8b8,
  '$color-grey-38': #b0b0b0,
  '$color-grey-48': #c2c2c2,
  '$color-grey-11': #acacac,
  '$color-grey-53': #afafaf,
  '$color-red-38': #9e9e9e,
  '$color-grey-4': #979797,
  '$color-red-39': #9c9c9c,
  '$color-grey-30': #878787,
  '$color-grey-19': #8d8d8d,
  '$color-grey-31': #a4a4a4,
  '$color-grey-16': #888,
  '$color-grey-32': #a1a1a1,
  '$color-grey-33': #9d9d9d,
  '$color-grey-55': #9a9a9a,
  '$color-grey-42': #9b9b9b,
  '$color-grey-54': #a0a0a0,
  '$color-grey-35': #8e8e8e,
  '$color-grey-34': #8c8c8c,
  '$color-grey-6': #848484,
  '$color-grey-39': #828282,
  '$color-grey-3': #787878,
  '$color-grey-36': #757575,
  '$color-grey-44': #696969,
  '$color-red-33': #666,
  '$color-red-34': #626262,
  '$color-dark-2': #615f5f,
  '$color-grey-57': #4c4c4c,
  '$color-grey-45': #282828,
  '$color-grey-51': #212121,
  '$color-grey-50': #0f0f0f,
  '$color-dark-1': #020000,
  '$color-green': #23a738,
  '$color-grey-56': #767045,
  '$color-red-2': #c92c52,
  '$color-red-1': #e01338,
  '$color-red': #c91010,
  '$color-red-3': #be1b1b,
);

// ##########
// Transitions
// ##########
$ease-main: .2s ease;
$ease-long: 1s ease;

// ##########
// Fonts
// ##########
$font-main: 'Open Sans', sans-serif; // Main font
$font-second: 'Marcellus', serif; // Second font

// ##########
// UI-kit colors
// ##########
$ui-kit-bg: white; // Background
$ui-kit-color-text: black; // Text color
$ui-kit-color-gray: $color-grey-13; // Border color
$ui-kit-color-darkbg: #111; // Dark section color
