mixin style()
  +b.style&attributes(attributes)
    .container
      +e.images
        each item in getData('style').images
          +e.image
            img(src=item)

      +e.content
        +e.P.title DANGEROUS<br> FASHION,<br> SERIUS STYLE
        +e.P.subtitle 2 BEST SELLERS PRODUCTS
        +e.items
          each item in getData('style').links
            +e.A.link(href="#")
              span!= item.text
              +icon('arrow_button')


mixin ui-kit-style()
  +ui-section
    +ui-section-head
      +ui-title Style
      +ui-path
        p Component: components/style/style

    +ui-section-content(true)
      +style

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
