mixin girls()
  +b.girls&attributes(attributes)
    .container
      +e.H2.heading @attrattivo_official

    +e.content
      +e.texts
        .container
          a(href="#") @Attrattivo_official
          span Good vibes only!
      +e.slider.swiper-container.js-slider-girls
        .swiper-wrapper
          each item in getData('girls')
            +e.card.swiper-slide
              +e.A.image(href="#" target="_blank")
                img(src=item.image, alt=item.text)
              +e.P.profile
                a(href="#" target="_blank")!= item.text

    .container
      +e.footer.hide-lg
        +button()(href="#")._style_light Δείτε όλη την gallery


mixin ui-kit-girls()
  +ui-section
    +ui-section-head
      +ui-title Girls
      +ui-path
        p Component: components/girls/girls

    +ui-section-content(true)
      +girls

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
