mixin slider-dots()
  +b.slider-dots&attributes(attributes)
    +e.dot.is-active
    +e.dot
    +e.dot

mixin ui-kit-slider-dots()
  +ui-section
    +ui-section-head
      +ui-title Slider Dots
      +ui-path
        p Component: components/slider-dots/slider-dots

    +ui-section-content()
      +slider-dots

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
