.slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  $b: &;

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #808080;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: background $ease-main;

    &::before {
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
    }

    &:not(:first-child) {
      margin-left: 6px;
    }

    &.is-active {
      background: #808080;
    }
  }
}
