.stores {
  display: block;

  @include rule(padding-top, (xl: 25px, lg: 0));

  $b: &;

  &__header {
    display: block;
  }

  &__title {
    @include rule(font-size, (xl: 60px, lg: 20px));

    font-family: $font-second;
    line-height: 1;
    letter-spacing: .06em;

    @include screen(lg) {
      text-align: center;
      padding: 18px 0;
    }
  }

  .container {
    display: block;
  }

  // Left

  &__left {
    display: block;

    @include rule(margin-top, (xl: 25px, lg: 0));
  }

  &__checkboxes {
    display: flex;
    border-width: 1px 0;
    border-style: solid;
    border-color: $color-grey-47;

    @include rule(justify-content, (xl: space-between, lg: flex-start));
    @include rule(padding, (xl: 10px 30px, lg: 13px 20px));
    @include rule(margin, (lg: 0 -20px));

    @include screen(lg) {
      overflow: auto;

      &::after {
        content: '';
        width: 20px;
        flex-shrink: 0;
        height: 1px;
      }
    }
  }

  &__filter {
    @include rule(max-width, (xl: 386px, lg: 100%));
    @include rule(margin-top, (xl: 16px, lg: 22px));
  }

  &__list {
    @include rule(margin-top, (xl: 43px, lg: 22px));
  }

  // Right

  &__map-wrapper {
    @include rule(padding, (xl: 36px 13px 0, lg: 0));

    box-sizing: border-box;
    width: 100%;
    display: none;
  }

  &__map-container {
    @include rule(height, (xl: 298px, lg: auto));
    @include rule(border, (xl: 1px solid $color-grey-49, lg: 0));
    @include rule(display, (xl: flex, lg: block));

    position: relative;

    @include screen(lg) {
      background: $color-grey-41;
      padding: 0 10px 10px;
      box-sizing: border-box;
    }
  }

  &__tooltip-close {
    font-size: 0;
    padding: 21px;
    flex-shrink: 0;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }

    svg {
      width: 14px;
      height: 14px;
    }
  }
}
