mixin stores()
  +b.stores(data-shops-url="assets/data/stores.json")&attributes(attributes)
    .container
      +e.header.show-lg
        .container
          +e.A.back-link(href="#")
            +icon('arrow_right')
          +e.P.header-title βρειτε το καταστημα σασ

      +e.left
        +e.H1.title.hide-lg store locator

        +e.checkboxes.hide-lg
          each checkbox in getData('list-checkbox')
            +list-checkbox(checkbox)!= checkbox.text

        +e.filter
          +inputbox
            +label εΠΙΛΕΞΤΕ ΚΑΤΑΣΤΗΜΑΤΑ ΒΑΣΗ ΠΟΛΗΣ
            select.select.js-store-select(name="store-filter")
              option(value="π.χ. Αθηνα" placeholder) π.χ. Αθηνα
              option(value="Αθηνα") Αθηνα
              option(value="ΜΑΡΟΥΣΙ") ΜΑΡΟΥΣΙ
              option(value="ΝΕΑ ΙΩΝΙΑ") ΝΕΑ ΙΩΝΙΑ

        +shop-list.__list

      +e.right.hide-lg
        +store-tooltip.__tooltip
        +map#map

mixin ui-kit-stores()
  +ui-section
    +ui-section-head
      +ui-title Stores
      +ui-path
        p Component: components/stores/stores

    +ui-section-content(true)
      +stores

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
