mixin stores()
  +b.stores(data-shops-url="assets/data/stores.json")&attributes(attributes)
    .container.container_small
      +e.header
        +e.P.title STORE LOCATOR

      +e.left
        +e.checkboxes
          each checkbox in getData('list-checkbox')
            +list-checkbox(checkbox)!= checkbox.text

        +e.filter
          +inputbox
            select.select.js-store-select(name="store-filter")
              option(value="Eπιλέξτε περιοχή" placeholder) Eπιλέξτε περιοχή
              option(value="Αθηνα") Αθηνα
              option(value="ΜΑΡΟΥΣΙ") ΜΑΡΟΥΣΙ
              option(value="ΝΕΑ ΙΩΝΙΑ") ΝΕΑ ΙΩΝΙΑ

        +shop-list.__list

      +e.map-wrapper#map-wrapper
        +e.map-container
          +store-tooltip.__tooltip
          +map#map
          +e.tooltip-close.js-store-tooltip-close.hide-lg
            +icon('close')

mixin ui-kit-stores()
  +ui-section
    +ui-section-head
      +ui-title Stores
      +ui-path
        p Component: components/stores/stores

    +ui-section-content(true)
      +stores

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
