.ProductCard {
  display: block;
  position: relative;

  $b: &;

  &:hover {
    z-index: 2;
  }

  // Top

  &__top {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    position: relative;
    overflow: hidden;

    #{$b}_preview & {
      overflow: visible;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      @include fill-img;
    }

    @include screen('lg', min) {

      #{$b}_preview & {
        transition: left $ease-main, top $ease-main, right $ease-main, bottom $ease-main;
      }

      #{$b}_preview:hover & {
        left: -21px;
        top: -21px;
        right: -21px;
        bottom: -21px;
      }
    }
  }

  &__sizes {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 9px 10px 13px;
    text-align: center;
    background: $color-grey-7;
    z-index: 4;
    transition: transform $ease-main;
    transform: translate3d(0, 100%, 0);
    box-sizing: border-box;

    #{$b}:hover & {
      transform: translate3d(0, 0, 0);
    }

    #{$b}_preview & {
      transition: transform $ease-main, opacity $ease-main;
      transform: translate3d(0, 10px, 0);
      left: -21px;
      bottom: -21px;
      right: -21px;
      pointer-events: none;
      opacity: 0;
      background: transparent;
      padding: 6px;
    }

    #{$b}_preview:hover & {
      opacity: 1;
      pointer-events: all;
      transform: translate3d(0, 0, 0);
    }
  }

  &__sizes-title {
    font-family: $font-main;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    text-transform: capitalize;

    #{$b}_preview & {
      display: none;
    }
  }

  &__sizes-items {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    #{$b}_preview & {
      margin-top: 0;
      padding: 7px;
      background: rgba(251, 251, 251, .85);
      border-radius: 2px;
    }
  }

  &__size {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .06em;
    text-transform: uppercase;
    transition: opacity $ease-main;

    #{$b}_preview & {
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
    }

    &[disabled] {
      pointer-events: none;
      color: $color-grey-8;

      #{$b}_preview & {
        font-weight: 400;
      }
    }

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-left: 24px;

      #{$b}_preview & {
        margin-left: 21px;
      }

      .catalogue__content .grid__col_xl_3 & {
        @media (max-width: 1580px) {
          margin-left: 10px;
        }
      }
    }
  }

  &__favourite {
    position: absolute;

    @include rule(right, (xl: 22px, lg: 0));
    @include rule(top, (xl: 22px, lg: 0));
    @include rule(width, (xl: 22px, lg: 13px));
    @include rule(height, (xl: 19px, lg: 11px));
    @include rule(opacity, (xl: 0, lg: 1));
    @include rule(padding, (lg: 10px));

    font-size: 0;
    transition: opacity $ease-main;
    z-index: 5;
    cursor: pointer;

    #{$b}_preview & {
      display: none;
    }

    #{$b}:hover & {
      opacity: 1;
    }

    &:hover {
      opacity: .5;
    }

    svg {
      fill: black;
      transition: fill $ease-main;
      width: 100%;
      height: 100%;
    }

    input {
      display: none;

      &:checked + svg {
        fill: $color-red;
      }
    }
  }

  // Bottom

  &-Content {
    align-items: flex-end;

    @include rule(margin-top, (xl: 6px, lg: 0));
    @include rule(display, (xl: flex, lg: block));
    @include rule(padding-top, (lg: 6px));
    @include rule(position, (lg: relative));

    #{$b}_preview & {
      margin-top: 16px;
      transition: transform $ease-main;
    }

    #{$b}_preview:hover & {
      transform: translate3d(-21px, 21px, 0);
    }
  }

  &__texts {

  }

  &-Name {
    @include rule(font-weight, (xl: 600, lg: 300));
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(line-height, (xl: 12px, lg: 14px));
    @include rule(width, (lg: 100%));
    @include rule(white-space, (lg: nowrap));
    @include rule(overflow, (lg: hidden));
    @include rule(text-overflow, (lg: ellipsis));

    display: block;
    letter-spacing: .06em;
    text-transform: uppercase;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &-Prices {
    margin-top: 2px;
    display: flex;
    align-items: center;
  }

  &-Price {
    @include rule(font-size, (xl: 13px, lg: 12px));
    @include rule(font-weight, (lg: 700));

    line-height: 11px;
    letter-spacing: .06em;

    &:not(:first-child) {
      margin-left: 5px;
      text-decoration-line: line-through;
    }

    &_new {
      color: $color-red;
      font-weight: 700;

      & + #{$b}__price {
        font-weight: 400;
      }
    }
  }

  &__colors {
    display: flex;
    margin-left: auto;
    padding-left: 40px;
    flex-shrink: 0;

    #{$b}_preview & {
      display: none;
    }

    @include screen('lg') {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: 5;
      padding: 0;

      #{$b}_special & {
        display: flex;
        justify-content: center;
        padding: 10px;
        background: rgba(239, 239, 239, .85);
      }
    }
  }

  &-Color {
    @include rule(width, (xl: 25px, lg: 14px));
    @include rule(height, (xl: 25px, lg: 14px));

    appearance: none;
    background-size: 100% 100%;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 13px, lg: 10px));
    }
  }

  &__button {
    height: 20px;
    line-height: 20px;
    width: 100%;
    display: block;
    transition: opacity $ease-main;
    cursor: pointer;
    background: $color-grey-9;
    color: $color-basic;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-align: center;

    &_dark {
      background: black;
      color: white;
    }

    &:hover {
      opacity: .5;
    }
  }

  // Slider

  &__slider-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;

    @include rule(display, (lg: none));
  }

  &__slider {
    position: absolute;
    left: -21px;
    top: -21px;
    right: -21px;
    bottom: -21px;
    transition: left $ease-main, top $ease-main, right $ease-main, bottom $ease-main;

    #{$b}_preview:hover & {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__slide {
    position: relative;
    overflow: hidden;

    img {
      @include fill-img;
    }
  }

  &__arrow {
    width: 10px;
    height: 15px;
    font-size: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: opacity $ease-main;
    opacity: 0;
    z-index: 5;
    cursor: pointer;

    #{$b}:hover & {
      opacity: 1;
    }

    #{$b}:hover &:hover {
      opacity: .5;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &_prev {
      transform: rotate(180deg);
      left: 0;
    }

    &_next {
      right: 0;
    }
  }

  &_small-slider {
    @include screen(lg, min) {

      .ProductCard__favourite, .ProductCard-Content, .ProductCard__sizes {
        display: none;
      }
    }

    @include screen(lg) {

      .ProductCard__favourite {
        display: none;
      }

      .ProductCard__button {
        display: none;
      }

      .ProductCard-Content {
        padding: 10px 0 0 10px;
        text-align: left;
      }
    }
  }
}
