.ProductCard {
  display: block;
  position: relative;

  $b: &;

  &:hover {
    z-index: 2;
  }

  // Top

  &__top {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    position: relative;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      @include fill-img;
    }
  }

  &__sizes {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 11px 10px;
    text-align: center;
    background: rgba(black, .4);
    z-index: 4;
    transition: transform $ease-main;
    transform: translate3d(0, 100%, 0);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    @include rule(display, (xl: flex, lg: none));

    #{$b}:hover & {
      transform: translate3d(0, 0, 0);
    }
  }

  &__size {
    font-size: 14px;
    line-height: 1;
    letter-spacing: .06em;
    text-transform: uppercase;
    transition: opacity $ease-main;
    color: white;
    font-weight: 600;

    &[disabled] {
      pointer-events: none;
      color: rgba(white, .5);
    }

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__tag {
    @include rule(left, (xl: 12px, lg: 6px));
    @include rule(top, (xl: 12px, lg: 6px));
    @include rule(min-width, (xl: 68px, lg: 56px));
    @include rule(padding, (xl: 0 10px, lg: 0 6px));

    position: absolute;
    z-index: 4;
    height: 20px;
    line-height: 20px;
    background: white;
    font-family: $font-second;
    color: black;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;

    &_sale {
      background: #e01338;
      color: white;
    }
  }

  &__favourite {
    position: absolute;

    @include rule(right, (xl: 5px, lg: 0));
    @include rule(top, (xl: 5px, lg: 0));
    @include rule(width, (xl: 18px, lg: 14px));
    @include rule(height, (xl: 18px, lg: 14px));
    @include rule(opacity, (xl: 0, lg: 1));

    padding: 10px;
    font-size: 0;
    transition: opacity $ease-main;
    z-index: 5;
    cursor: pointer;

    #{$b}:hover & {
      opacity: 1;
    }

    &:hover {
      opacity: .5;
    }

    svg {
      @include rule(fill, (xl: black, lg: #8E8E8E));

      transition: fill $ease-main;
      width: 100%;
      height: 100%;
    }

    input {
      display: none;

      &:checked + svg {
        fill: $color-red;
      }
    }
  }

  // Bottom

  &-Content {
    @include rule(padding, (xl: 9px 0 0, lg: 10px 10px 0));
  }

  &__texts {
    width: 100%;
  }

  &-Name {
    @include rule(font-size, (xl: 14px, lg: 11px));

    font-weight: 300;
    line-height: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    letter-spacing: .06em;
    text-transform: uppercase;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &-Prices {
    margin-top: 6px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &-Price {
    @include rule(font-size, (xl: 14px, lg: 12px));

    font-weight: 700;
    line-height: 1;
    letter-spacing: .06em;

    &:not(:first-child) {
      @include rule(font-size, (xl: 12px, lg: 11px));
      @include rule(margin-right, (xl: 10px, lg: 7px));
      @include rule(line-height, (xl: 14px, lg: 12px));

      text-decoration: line-through;
      font-weight: 400;
    }

    &_new {
      color: #be1b1b;
    }
  }

  &__colors {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;

    @include rule(margin-top, (xl: 0, lg: 4px));
    @include rule(margin-right, (xl: -8px, lg: -4px));
  }

  &-Color {
    @include rule(width, (xl: 12px, lg: 11px));
    @include rule(height, (xl: 12px, lg: 11px));
    @include rule(margin, (xl: 8px 8px 0 0, lg: 4px 4px 0 0));

    appearance: none;
    background-size: 100% 100%;
    transition: opacity $ease-main;
    border-radius: 50%;

    &:hover {
      opacity: .5;
    }
  }

  &__button {
    height: 20px;
    line-height: 20px;
    width: 100%;
    display: block;
    transition: opacity $ease-main;
    cursor: pointer;
    background: $color-grey-9;
    color: $color-basic;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .06em;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-align: center;

    &_dark {
      background: black;
      color: white;
    }

    &:hover {
      opacity: .5;
    }
  }

  // Slider

  &__slider-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;
    overflow: hidden;

    img {
      @include fill-img;
    }
  }

  &__dots {
    position: absolute;
    right: 6px !important;
    width: auto !important;
    left: auto !important;
    bottom: 6px !important;
    z-index: 3;

    @include screen(lg, min) {
      display: none !important;
    }
  }

  &__arrow {
    width: 8px;
    height: 15px;
    font-size: 0;
    padding: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: opacity $ease-main;
    z-index: 5;
    cursor: pointer;

    @include rule(display, (lg: none));

    &:hover {
      opacity: .5;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &_prev {
      transform: rotate(180deg);
      left: 0;
    }

    &_next {
      right: 0;
    }
  }

  &_small-slider {
    @include screen(lg, min) {

      .ProductCard__favourite, .ProductCard-Content, .ProductCard__sizes, .ProductCard__slider-wrapper {
        display: none;
      }
    }

    @include screen(lg) {

      .ProductCard__favourite, .ProductCard__tag, .ProductCard__slider-wrapper {
        display: none;
      }
    }
  }

  &_small {

    .ProductCard__colors, .ProductCard__tag, .ProductCard__favourite, .ProductCard__sizes, .ProductCard__slider-wrapper, {
      display: none;
    }

    .ProductCard-Name {
      font-size: 12px;
      line-height: 12px;
      font-weight: 300;
    }

    .ProductCard-Prices {
      margin-top: 5px;
    }

    .ProductCard-Price {
      font-size: 12px;
      line-height: 1;
      font-weight: 600;

      &_new {
        font-weight: 700;
      }
    }

    @include screen(lg) {

      .ProductCard-Content {
        display: none;
      }
    }
  }
}
