mixin shop()
  +b.shop&attributes(attributes)
    .container
      +e.titles.show-lg
        +triangle-heading('h2').__heading SHOP THE LOOK
        +e.P.subtitle
          a(href="#") comfortably cool

      +e.grid
        +e.left
          +e.A.banner(href="#")
            img(src="assets/images/shop/banner.jpg" alt="@@")

        +e.right
          +e.titles.hide-lg
            +triangle-heading('h2').__heading SHOP THE LOOK
            +e.P.subtitle
              a(href="#") comfortably cool
            +e.texts
              +e.P.text Soft in feel, cool in tone and modern in style. introducing the new hues of our signature favorite look - comfortably Cool.
              +e.A.link(href="#")
                span see more
                +icon('arrow_right')

          +e.slider.js-slider-shop
            .swiper-container
              .swiper-wrapper
                each i in [15, 16, 0, 1]
                  +product-card(getData('product-cards')[i]).swiper-slide

            +e.arrow-next
              +icon('arrow_right')

      +e.A.button(href="#").show-lg see more total looks

mixin ui-kit-shop()
  +ui-section
    +ui-section-head
      +ui-title Shop
      +ui-path
        p Component: components/shop/shop

    +ui-section-content(true)
      +shop

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
