extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Stores'

block content
  .container.hide-lg
    +breadcrumbs([{"text": "ΑΡΧΙΚh", "link": "#"}, {"text": "store locator"}])
  +stores
