.subscribe-form {
  display: block;
  color: white;
  box-sizing: border-box;

  @include rule(background, (lg: black));
  @include rule(padding, (lg: 20px));

  $b: &;

  &__title {
    @include rule(font-size, (xl: 18px, lg: 14px));
    @include rule(color, (lg: #f2f2f2));

    font-weight: 700;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
  }

  &__subtitle {
    @include rule(margin-top, (xl: 6px, lg: 7px));

    font-size: 12px;
    line-height: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #878787;
  }

  &__inputbox {
    @include rule(margin-top, (xl: 14px, lg: 11px));

    position: relative;
  }

  &__input {
    @include rule(height, (xl: 45px, lg: 40px));
    @include rule(padding, (xl: 0 100px 0 15px, lg: 0 100px 0 10px));
    @include rule(font-size, (xl: 12px, lg: 11px));

    border-radius: 2px;
    box-shadow: inset 0 0 9px rgba(0, 0, 0, .18);
    border: 1px solid white;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: .08em;
    width: 100%;
    transition: border-color $ease-main;
    background: white;

    &.parsley-error {
      border-color: $color-red;
    }

    &::placeholder {
      color: #a4a4a4;
    }
  }

  &__button {
    position: absolute;
    right: 15px;
    height: 19px;
    line-height: 19px;
    letter-spacing: .08em;
    text-decoration-line: underline;
    text-transform: uppercase;
    transition: color $ease-main;
    color: black;
    font-weight: 600;
    cursor: pointer;

    @include rule(top, (xl: 12px, lg: 10px));
    @include rule(font-size, (xl: 14px, lg: 11px));

    &:hover {
      color: rgba(black, .5);
    }
  }

  &__checkbox {
    @include rule(margin-top, (xl: 10px, lg: 7px));

    .checkradio {
      display: inline-flex;
      max-width: 100%;
    }
  }
}
