mixin subscribe-form()
  +b.FORM.subscribe-form(action="#", method="post", data-parsley-validate)&attributes(attributes)
    +e.P.title ΘΕΣ ΠΕΡΙΣΣΟΤΕΡΑ;
    +e.P.subtitle.hide-lg Meine enhmeρωμενοσ και κερδισε 10% στην πρωτη σου παραγγελια
    +e.inputbox
      +e.INPUT.input(type="email" name="email" required="required" placeholder="Email Adress")
      +e.BUTTON.button(type="submit") Εγγραφη
    +e.checkbox
      +checkradio(false, 'agree', 'agree', false, true)._light._radio Συμφωνώ με τους όρους και τις προυποθέσεις


mixin ui-kit-subscribe-form()
  +ui-section
    +ui-section-head
      +ui-title Subscribe Form
      +ui-path
        p Component: components/subscribe-form/subscribe-form

    +ui-section-content()
      +subscribe-form

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
