.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  @include rule(flex-direction, (lg: column));

  &__tab {
    transition: color $ease-main, border-color $ease-main;
    cursor: pointer;
    color: #AFAFAF;
    font-family: $font-second;

    @include rule(font-size, (xl: 25px, lg: 16px));
    @include rule(line-height, (xl: 32px, lg: 31px));
    @include rule(border-width, (lg: 1px 0));
    @include rule(border-style, (lg: solid));
    @include rule(border-color, (lg: transparent));
    @include rule(padding, (lg: 0 15px));

    letter-spacing: 0.06em;
    text-transform: uppercase;
    pointer-events: all;

    &:not(:first-child) {
      @include screen(lg, min) {
        padding-left: 20px;
        margin-left: 20px;
        border-left: 2px solid black;
      }

      @include screen(lg) {
        margin-top: -1px;
      }
    }

    &.is-active, &:hover {
      color: black;

      @include rule(border-color, (lg: black));
    }
  }

  & + &-content { margin-top: 30px; }

  &-content {

    &__wrapper {
      display: none;
      opacity: 0;
      transition: opacity $ease-main, transform $ease-main;
      transform: translate3d(0, 10px, 0);

      &.is-active {
        display: block;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
