.form-final {
  display: block;
  text-align: center;

  @include rule(margin-left, (lg: -20px));
  @include rule(margin-right, (lg: -20px));

  $b: &;

  &__text {
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(line-height, (xl: 16px, lg: 15px));
    @include rule(padding, (lg: 0 20px));

    letter-spacing: .06em;
    color: $color-placeholder;

    a {
      text-decoration: underline;
      transition: color $ease-main;

      &:hover {
        color: black;
      }
    }

    &:not(:first-child) {
      border-top: 1px solid black;

      @include rule(padding-top, (xl: 3px, lg: 5px));
      @include rule(margin-top, (xl: 6px, lg: 10px));
      @include rule(border-color, (lg: $color-red-35));
    }
  }
}
