mixin form-final()
  +b.form-final&attributes(attributes)
    +e.P.text Ξέχασες τον κωδικό σου?
    +e.P.text Δεν έχεις λογαριασμό? <a href="#" data-form-target="signUp">Eγγραφή</a>

mixin ui-kit-form-final()
  +ui-section
    +ui-section-head
      +ui-title Form Final
      +ui-path
        p Component: components/form-final/form-final

    +ui-section-content()
      +form-final

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
