.image-slider {
  @include rule(display, (xl: flex, lg: block));

  $b: &;

  &__slider {

    &_big {
      flex-grow: 1;

      @include rule(height, (xl: 100%, lg: auto));
    }

    &_small {
      height: 600px;
      width: 100px;
      margin-left: 5px;
      margin-top: 123px;
    }

    .swiper-container {
      height: 100%;
      width: 100%;
    }
  }

  &__slide {
    position: relative;
    overflow: hidden;

    @include rule(height, (lg: 0));
    @include rule(padding-bottom, (lg: 150%));

    img {
      @include fill-img;

      bottom: auto;
    }

    #{$b}__slider_small & {

      &:not(.is-active) {
        cursor: pointer;
      }

      img {
        transition: opacity $ease-main, filter $ease-main;
        filter: blur(0);
      }

      &.is-active img {
        filter: blur(2px);
        opacity: .4;
      }
    }
  }

  &__dots {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    right: 20px;
    bottom: auto;
    margin: 0;
    z-index: 30;
  }

  &__dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid $color-grey-34;
    background: $color-grey-35;
    transition: border-color $ease-main, background $ease-main;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;

    &.is-active {
      background: $color-grey-36;
      border-color: $color-grey-36;
    }

    &::after {
      content: '';
      left: -6px;
      top: -6px;
      right: -6px;
      bottom: -6px;
      position: absolute;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
