mixin image-slider()
  +b.image-slider&attributes(attributes)
    .swiper-container
      .swiper-wrapper
        each item in [0, 1, 0, 1]
          +e.slide.swiper-slide
            img(src="assets/images/product/" + item + ".jpg", alt="@@")

    +slider-pages.__pages

    +e.arrows.hide-lg
      +e.arrow._prev.js-arrow-prev
        +icon('arrow_slider_big')
      +e.arrow._next.js-arrow-next
        +icon('arrow_slider_big')

    +e.scrollbar

mixin ui-kit-image-slider()
  +ui-section
    +ui-section-head
      +ui-title Image Slider
      +ui-path
        p Component: components/image-slider/image-slider

    +ui-section-content()
      +image-slider

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
