mixin image-slider()
  +b.image-slider&attributes(attributes)
    +e.slider._big
      .swiper-container
        .swiper-wrapper
          each item in [0, 1, 2, 3]
            +e.slide.swiper-slide
              img(src="assets/images/product/" + item + ".jpg", alt="@@")

      +e.dots.show-lg
        +e.dot

    +e.slider._small.hide-lg
      .swiper-container
        .swiper-wrapper
          each item in [0, 1, 2, 3]
            +e.slide._small.swiper-slide
              img(src="assets/images/product/" + item + ".jpg", alt="@@")

mixin ui-kit-image-slider()
  +ui-section
    +ui-section-head
      +ui-title Image Slider
      +ui-path
        p Component: components/image-slider/image-slider

    +ui-section-content()
      +image-slider

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
