.image-slider {
  display: block;
  position: relative;

  @include rule(height, (lg: 150vw));

  $b: &;

  .swiper-container {
    @include rule(height, (lg: 100%));
  }

  &__slide {
    height: auto;
    font-size: 0;

    @include screen(lg, min) {
      width: auto !important;

      img {
        height: 100%;
      }
    }

    @include screen(lg) {
      position: relative;
      overflow: hidden;

      img {
        @include fill-img;
      }
    }
  }

  &__arrows {
    position: absolute;
    z-index: 10;
    height: 37px;
    left: 80px;
    right: 80px;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;

    @include rule(display, (xl: flex, lg: none));
  }

  &__arrow {
    height: 100%;
    width: 20px;
    fill: $color-grey-34;
    pointer-events: all;
    transition: fill $ease-main;
    cursor: pointer;
    position: relative;

    &.swiper-button-disabled {
      pointer-events: none;
      fill: rgba($color-grey-34, .5);
    }

    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: -20px;
      right: -20px;
      bottom: -20px;
    }

    &:hover {
      fill: black;
    }

    &_prev {
      transform: rotate(180deg);
    }
  }

  svg {
    height: 100%;
    width: 100%;
  }

  &__pages.slider-pages {
    position: absolute;
    z-index: 10;
    right: 26px;
    bottom: 15px;
    left: auto;

    @include rule(display, (lg: none));
  }

  &__scrollbar {
    @include screen(lg, min) {
      display: none;
    }

    height: 3px;
    margin-top: -2px;
    position: relative;
    z-index: 10;

    .swiper-scrollbar-drag {
      background: $color-grey-36;
    }
  }
}
