mixin catalogue-head()
  +b.catalogue-head&attributes(attributes)
    .container.container_big
      +breadcrumbs([{"text": "ΑΡΧΙΚh", "link": "#"}, {"text": "poyxa", "link": "#"}, {"text": "φορεματα"}])._light.__breadcrumbs

      +e.texts
        +e.P.text.is-active-passive.is-active
          +e.SPAN.long-text._short Trendy ή κλασικό LBD κάντε scroll προς τα κάτω για ονειρεμένα φορέματα από για όλες τις εποχές. Παίξτε με διάφορες υφές, λεία σατέν ή sequined φορέματα από την <b>ALE</b> που θα σας ξεχωρίσει από το πλήθος. Μετά από ένα χαριτωμένο φόρεμα για το καλοκαίρι Επιτρέψτε στο κλασικό να σας καθοδηγήσει με τα όμορφα διακοσμημένα πετράδια του. New Look beach maxi φορέματα σε ελαφριά υφάσματα και εκτυπώσεις που θα σας αρέσου και είναι ιδανικά για τυχόν επερχόμενες διακοπές, ενώ τα εκπτωτικά μας κομμάτια προσφέρουν ευέλικτους τρόπους για να διατηρήσετε το καλοκαιρινό πνεύμα ζωντανό. Προσπαθήστε να βρείτε βραδινά φορέματα που ταιριάζουν στο μοναδικό σας στυλ. Αφήστε το <b>ALE</b> να σας βοηθήσει. Τα φορέματα δεν είναι μόνο για καλοκαίρι και ειδικές περιπτώσεις. Κάντε τους έναν βασικό παίκτη στην ντουλάπα εργασίας σας με περιτύλιγμα, φόρεμα και νυφικά φορέματα ημέρας σε μια σειρά συναρπαστικών εκτυπώσεων και χρωμάτων. φορέστε τα πάνω από τα μπλουζάκια ή τις μπλούζες και διασκεδάστε κάνοντας το look εντελώς δικό σας με ατελείωτες επιλογές αξεσουάρ. Ανεξάρτητα από το λόγο που χρειάζεστε ένα νέο φόρεμα, θα βρείτε αυτό που ψάχνετε στο <b>ALE</b>.  διαβαστε λιγοτερα
          +e.BUTTON.button(type="button").js-catalogue-toggle-text διαβαστε περισσοτερα

        +e.P.text.is-hidden
          +e.SPAN.long-text Trendy ή κλασικό LBD κάντε scroll προς τα κάτω για ονειρεμένα φορέματα από για όλες τις εποχές. Παίξτε με διάφορες υφές, λεία σατέν ή sequined φορέματα από την <b>ALE</b> που θα σας ξεχωρίσει από το πλήθος. Μετά από ένα χαριτωμένο φόρεμα για το καλοκαίρι Επιτρέψτε στο κλασικό να σας καθοδηγήσει με τα όμορφα διακοσμημένα πετράδια του. New Look beach maxi φορέματα σε ελαφριά υφάσματα και εκτυπώσεις που θα σας αρέσου και είναι ιδανικά για τυχόν επερχόμενες διακοπές, ενώ τα εκπτωτικά μας κομμάτια προσφέρουν ευέλικτους τρόπους για να διατηρήσετε το καλοκαιρινό πνεύμα ζωντανό. Προσπαθήστε να βρείτε βραδινά φορέματα που ταιριάζουν στο μοναδικό σας στυλ. Αφήστε το <b>ALE</b> να σας βοηθήσει. Τα φορέματα δεν είναι μόνο για καλοκαίρι και ειδικές περιπτώσεις. Κάντε τους έναν βασικό παίκτη στην ντουλάπα εργασίας σας με περιτύλιγμα, φόρεμα και νυφικά φορέματα ημέρας σε μια σειρά συναρπαστικών εκτυπώσεων και χρωμάτων. φορέστε τα πάνω από τα μπλουζάκια ή τις μπλούζες και διασκεδάστε κάνοντας το look εντελώς δικό σας με ατελείωτες επιλογές αξεσουάρ. Ανεξάρτητα από το λόγο που χρειάζεστε ένα νέο φόρεμα, θα βρείτε αυτό που ψάχνετε στο <b>ALE</b>.  διαβαστε λιγοτερα
          +e.BUTTON.button(type="button").js-catalogue-toggle-text διαβαστε λιγοτερα

    +e.background
      img(src="assets/images/catalogue/header.jpg" alt="@@")

mixin ui-kit-catalogue-head()
  +ui-section
    +ui-section-head
      +ui-title Catalogue Header
      +ui-path
        p Component: components/catalogue-head/catalogue-head

    +ui-section-content(true)
      +catalogue-head

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
