mixin catalogue-head()
  +b.catalogue-head&attributes(attributes)
    .container
      +e.P.title ΝΕΕΣ ΑΦΙΞΕΙΣ

      +e.P.results.show-lg (134  προϊόντα)

      +e.links.hide-lg
        each link in ['Φορέματα', 'Πουκάμισα', 'Ζακέτες/ Μπολερό', 'Μπλούζες']
          +e.A.link(href="#")!= link

      +e.A.back(href="#").show-lg
        +icon('arrow_right_burger')

      +e.texts.hide-lg
        +e.text.is-active-passive.is-active
          +e.P.long-text._short Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casualΑυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε
          +e.BUTTON.button(type="button").js-catalogue-toggle-text διαβαστε περισσοτερα

        +e.text.is-hidden
          +e.P.long-text Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casualΑυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε περίσταση! Εδώ θα βρείτε casual Αυτά είναι τα φορέματα που θα σας κρατήσουν κομψές σε κάθε
          +e.BUTTON.button(type="button").js-catalogue-toggle-text διαβαστε λιγοτερα

    +e.background
      img(src="assets/images/catalogue/header.jpg" alt="@@")

mixin ui-kit-catalogue-head()
  +ui-section
    +ui-section-head
      +ui-title Catalogue Header
      +ui-path
        p Component: components/catalogue-head/catalogue-head

    +ui-section-content(true)
      +catalogue-head

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
