.catalogue-head {
  display: flex;
  color: white;
  position: relative;
  height: 170px;
  justify-content: center;
  align-items: flex-end;
  padding: 5px 0;
  box-sizing: border-box;

  $b: &;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      @include fill-img;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__breadcrumbs {
    margin: 0;
  }

  &__texts {
    margin-top: 3px;
  }

  &__text {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .06em;
    transition: opacity $ease-main;
    display: none;

    &.is-active-passive {
      display: block;
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  &__long-text {

    &_short {
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    text-decoration: underline;
    text-transform: uppercase;
    appearance: none;
    color: white;
    border: 0;
    background: 0;
    padding: 0;
    margin-left: 10px;

    &::before {
      content: attr(data-text-passive);
    }

    #{$b}__text.is-active & {
      content: attr(data-text-active);
    }
  }
}
