.burger-menu {
  display: block;
  position: relative;
  overflow: hidden;
  height: 500px;
  transition: height $ease-main;

  $b: &;

  &__screen {
    width: 100%;
    position: absolute;
    transform: translate3d(100%, 0, 0);
    transition: transform $ease-main, opacity $ease-main;
    opacity: 0;

    &.is-past {
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
    }

    &.is-active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  // Main

  &__main-items {
    padding-top: 12px;
  }

  &__main-item {
    padding: 0 20px;
    height: 47px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .06em;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    svg {
      margin-left: auto;
      width: 7px;
      height: 12px;
    }
  }

  // Screens

  &__header {
    background: #f7f7f7;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .06em;
    position: relative;
    text-transform: uppercase;
  }

  &__back {
    width: 7px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &__links {
    margin-top: 14px;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    span {
      flex-grow: 1;
    }

    svg {
      margin-left: 10px;
      width: 7px;
      height: 12px;
      transform: rotate(180deg);
    }
  }
}
