mixin product-sizes()
  +b.product-sizes&attributes(attributes)
    +e.header
      +e.P.current size: <span class="js-product-select-size">m-10</span>
      +e.A.link(href="#") size guide

    +e.select
      +e.SELECT.sizes-select(name="#").js-product-select
        option(value="m-10 ") m-10
        option(value="m-11 ") m-11
        option(value="m-12 ") m-12
