mixin product-sizes()
  +b.product-sizes&attributes(attributes)
    +e.select
      +e.SELECT.sizes-select(name="#").js-product-select
        option(value="Μέγεθος" placeholder) Μέγεθος
        option(value="ES - 6") ES - 6
        option(value="S - 8") S - 8
        option(value="M - 10" disabled) M - 10
        option(value="L - 12") L - 12
        option(value="XL - 14 ") XL - 14

    +e.A.link(href="#") size guide
