.product-final {
  display: block;
  font-size: 0;

  $b: &;

  &__button-wrapper {
    display: flex;
  }

  &__amount {
    background: black;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-right: 6px;
    flex-shrink: 0;

    .input-numberbox__input {
      color: white;
      width: 30px;
    }

    .input-numberbox__button {
      color: white;
    }
  }

  &__button {
    width: 100%;
    flex: 1;

    @include rule(height, (xl: 45px, lg: 40px));

    @include screen(lg) {
      font-weight: 600;

      svg {
        display: none;
      }
    }
  }

  &__text {
    margin-top: 28px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: .06em;
    color: $color-grey-33;
  }
}
