include product-colors
include product-sizes
include product-final

mixin product()
  +b.product&attributes(attributes)
    .container
      +e.left
        +e.LABEL.favourite.hide-lg
          input(type="checkbox" name="favourite")
          +icon('heart')

        +image-slider.__slider

      +e.right
        +product-navigation.hide-lg

        +e.info.hide-lg
          +e.P.title.ProductActions-Title ΚΙΜΟΝΟ ΜΕ ΥΦΑΣΜΑΤΙΝΗ ΖΩΝΗ
          +e.P.text.ProductActions-Sku Κωδικός Προϊόντος: 82406613
          +e.prices
            +e.P.price.ProductActions-Price 90,00 €
            +e.P.price._old.ProductActions-Price 129,99 €

        +product-colors.__colors
        +product-sizes.__sizes.hide-lg
        +product-final.__final.hide-lg

        +e.links.hide-lg
          each item in ["σύνθεση & Εφαρμογή", "αποστολές - επιστροφές"]
            +e.A.link(href="#")!= item

        +e.accordions.show-lg
          +product-accordions

        +product-result.__result.show-lg

        +e.small-slider
          +product-slider(getData('product-cards_preview_2'), true)(data-size="small").product-slider_small PAIRS WELL WITH

mixin ui-kit-product()
  +ui-section
    +ui-section-head
      +ui-title Product
      +ui-path
        p Component: components/product/product

    +ui-section-content(true)
      +product

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
