include product-colors
include product-sizes
include product-final

mixin product(amount)
  +b.product&attributes(attributes)
    .container
      +e.left
        +e.LABEL.favourite.js-product-favourite.show-lg
          input(type="checkbox" name="favourite" value="true")
          +icon('heart_new')
        +image-slider.__slider

      +e.right

        +breadcrumbs([{"text": "ΗΟΜΕ", "link": "#"}, {"text": "ΡΟΥΧΑ", "link": "#"}, {"text": "NEEΣ ΑΦΙΞΕΙΣ", "link": "#"}, {"text":"ΦΟΡΕΜΑ ΑΜΑΝΙΚΟ ΜΕ ΚΟΥΜΠΙΑ"}])._small.__breadcrumbs.hide-lg

        +e.wrapper
          +e.info
            +e.P.title.ProductActions-Title Φόρεμα Αμάνικο Με Κουμπιά
            +e.P.text.ProductActions-Sku.hide-lg ΚΩΔΙΚΟΣ: <span>917 389 29</span>
            +e.prices
              +e.P.price.ProductActions-Price 64,90€
              // +e.P.price._old.ProductActions-Price 129,99 €

          +product-colors.__colors
          +product-sizes.__sizes
          +product-final(amount || false).__final

          +product-result

          +e.sections
            +product-accordions

          +product-info.__information.hide-lg

          +e.small-slider
            +product-slider(getData('product-cards_preview_2'), true)(data-slides="[2, 3]").product-slider_small.product-slider_no-mobile-arrows GET THE LOOK

mixin ui-kit-product()
  +ui-section
    +ui-section-head
      +ui-title Product
      +ui-path
        p Component: components/product/product

    +ui-section-content(true)
      +product

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
