.product-final {
  display: block;
  font-size: 0;

  $b: &;

  &__title {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .06em;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
    margin-top: 7px;
  }
}
