mixin product-colors()
  +b.product-colors&attributes(attributes)
    +e.header.hide-lg
      +e.P.title Χρώμα:

    +e.colors
      - var i = 0;
      each color in getData('product-cards')[5].colors
        - i++;
        +e.LABEL.color
          +e.INPUT.input(type="radio", name="product-color", value=i, checked=(i === 1), data-color-name=color.name).js-product-color
          +e.box
            +e.name!= color.name
            +e.tick
              +icon('checkbox_tick')
