extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Catalogue'

block content
  +catalogue-head.hide-lg
  +catalogue
  +scroll-top

  .container.container_big.hide-lg
    +pagination
