include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/map/map
include ../blocks/popups/popups
include ../blocks/tabs/tabs
include ../blocks/accordion/accordion
include ../blocks/button/button
include ../blocks/scrollbar/scrollbar
include ../blocks/dropdown/dropdown
include ../blocks/form/form
include ../components/header/header
include ../components/footer/footer
include ../components/subscribe-form/subscribe-form
include ../components/offer/offer
include ../components/hot-now/hot-now
include ../blocks/triangle-heading/triangle-heading
include ../components/shop/shop
include ../components/product-card/product-card
include ../components/girls/girls
include ../components/menu/menu
include ../components/burger/burger
include ../components/stores/stores
include ../components/list-checkbox/list-checkbox
include ../components/shop-list/shop-list
include ../components/store-tooltip/store-tooltip
include ../components/catalogue-head/catalogue-head
include ../components/catalogue/catalogue
include ../components/filters/filters
include ../components/pagination/pagination
include ../components/scroll-top/scroll-top
include ../components/cart/cart
include ../components/go-back/go-back
include ../components/cart-info/cart-info
include ../components/cart-item/cart-item
include ../components/product-slider/product-slider
include ../components/section/section
include ../components/back-to-top/back-to-top
include ../components/product/product
include ../components/image-slider/image-slider
include ../components/product-navigation/product-navigation
include ../components/recently/recently
include ../components/product-accordions/product-accordions
include ../components/product-result/product-result
include ../components/bottom-popup/bottom-popup
include ../components/popup-size/popup-size
include ../components/popup-preview/popup-preview
include ../components/side-cart/side-cart
include ../components/form-final/form-final
include ../components/slogan-slider/slogan-slider
include ../components/slider-pages/slider-pages
include ../components/slider-dots/slider-dots
include ../components/match-point/match-point
include ../components/trendy/trendy
include ../components/style/style
include ../components/brand/brand
include ../components/layer/layer
include ../components/item-slider-small/item-slider-small
include ../components/cart-final/cart-final
include ../components/cart-back/cart-back
include ../components/cart-additional/cart-additional
include ../components/load-more/load-more
include ../components/filters-tags/filters-tags
include ../components/product-info/product-info
include ../components/product-slider-tabs/product-slider-tabs
include ../components/notify-popup/notify-popup