.special-link {
  display: block;
  margin-top: 10px;
  font-family: $font-second;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: .08em;
  text-decoration-line: underline;
  text-transform: uppercase;
  transition: opacity $ease-main;

  &:hover {
    opacity: .5;
  }

  $b: &;

  span {
    color: $color-red;
  }
}
