mixin cart-additional()
  +b.cart-additional&attributes(attributes)
    each item in getData('cart-additional')
      +e.item(class=item.class)
        +icon(item.icon).__icon
        +e.P.text!= item.text

mixin ui-kit-cart-additional()
  +ui-section
    +ui-section-head
      +ui-title Cart Additional
      +ui-path
        p Component: components/cart-additional/cart-additional

    +ui-section-content()
      +cart-additional

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
