.filters {
  display: block;

  @include screen('lg', min) {
    display: block !important;
  }

  @include screen('lg') {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1000;
    overflow: auto;
    padding-top: 56px;
    padding-bottom: 61px;
    display: none;
    transition: opacity $ease-main;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }

  $b: &;

  &__header {
    @include rule(height, (xl: 68px, lg: 56px));
    @include rule(justify-content, (xl: center, lg: flex-start));
    @include rule(background, (xl: $color-grey-7, lg: white));
    @include rule(padding, (xl: 10px, lg: 10px 20px));
    @include rule(position, (lg: fixed));
    @include rule(left, (lg: 0));
    @include rule(top, (lg: 0));
    @include rule(right, (lg: 0));
    @include rule(z-index, (lg: 100));
    @include rule(border-bottom, (lg: 1px solid $color-border));

    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  &__title {
    @include rule(font-size, (xl: 13px, lg: 12px));
    @include rule(line-height, (xl: 16px, lg: 15px));
    @include rule(font-weight, (xl: 700, lg: 600));

    letter-spacing: .08em;
    text-transform: uppercase;
  }

  &__results {
    @include rule(margin-left, (xl: 14px, lg: 5px));
    @include rule(font-size, (xl: 13px, lg: 12px));
    @include rule(line-height, (xl: 16px, lg: 15px));
    @include rule(color, (xl: $color-grey-8, lg: $color-grey-22));

    letter-spacing: .08em;
    text-transform: lowercase;

    @include screen('lg') {

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  &__close {
    margin-left: auto;
    width: 13px;
    height: 13px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &__content {
    @include rule(margin-top, (xl: 38px, lg: 0));
  }

  &__section {
    @include rule(margin-right, (xl: -25px, lg: 0));
    @include rule(border-bottom, (lg: 1px solid $color-border));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 27px, lg: 0));
    }
  }

  &__section-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity $ease-main;

    @include rule(height, (lg: 47px));
    @include rule(padding, (lg: 0 20px));

    &:hover {
      @include screen('lg', min) {
        opacity: .5;
      }
    }
  }

  &__section-title {
    flex-grow: 1;
    margin-right: 20px;
    letter-spacing: .08em;
    text-transform: uppercase;

    @include rule(font-size, (xl: 13px, lg: 12px));
    @include rule(line-height, (xl: 16px, lg: 15px));
    @include rule(font-weight, (lg: 600));
  }

  &__icon {
    margin-left: auto;
    width: 10px;
    height: 10px;
    position: relative;

    &::before, &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: black;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1px;
      transition: transform $ease-main;
    }

    &::after {
      transform: rotate(-90deg);
    }

    #{$b}__section.is-active &, #{$b}__section.is-active-passive & {

      &::after {
        transform: rotate(0deg);
      }
    }
  }

  &__section-content {
    @include rule(margin-top, (xl: 21px, lg: 0));
    @include rule(border-top, (lg: 1px solid $color-border));
    @include rule(padding, (lg: 20px));

    display: none;
    transition: opacity $ease-main;
    opacity: 0;

    #{$b}__section.is-active & {
      opacity: 1;
    }

    #{$b}__section.is-active-passive & {
      display: block;
    }
  }

  &__scroll {
    @include rule(padding-right, (xl: 25px, lg: 0));
    @include rule(max-height, (xl: 256px, lg: none));

    #{$b}__section_with_link & {
      @include rule(max-height, (xl: 280px, lg: none));
    }
  }

  &__container {
    display: block;
    margin: 0 auto;

    @include rule(max-width, (xl: 180px, lg: 100%));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 8px, lg: 13px));
    }
  }

  &__link {
    @include rule(font-size, (xl: 13px, lg: 12px));
    @include rule(line-height, (xl: 16px, lg: 15px));

    text-align: right;
    letter-spacing: .08em;
    text-transform: uppercase;

    a {
      text-decoration: underline;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__grid {
    padding: .1px;

    @include screen('lg') {
      overflow: hidden;
    }
  }

  &__checkbox {
    display: block;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      text-align: center;
      display: block;
      border: 1px solid $color-grey-14;
      box-sizing: border-box;

      @include rule(border-color, (lg: $color-grey-23));
      @include rule(padding, (xl: 9px, lg: 7px));
      @include rule(border-radius, (xl: 2px, lg: 1px));
      @include rule(font-size, (xl: 13px, lg: 12px));
      @include rule(line-height, (xl: 16px, lg: 15px));

      letter-spacing: .08em;
      text-transform: uppercase;
      transition: background $ease-main, border-color $ease-main, color $ease-main, font-weight $ease-main, opacity $ease-main, font-weight $ease-main;
    }

    input:not(:checked) + span {
      @include screen('lg', min) {

        &:hover {
          opacity: .5;
        }
      }
    }

    &[href] {
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }

    input:checked + span {
      background-color: black;
      border-color: black;
      color: white;
      font-weight: 600;
    }

    &_desktop_style_link {
      @include screen('lg', min) {

        span {
          height: auto;
          border: 0;
          padding: 0;
          background: transparent !important;
          color: $color-basic !important;
        }

        input:checked + span {
          font-weight: 800;
        }
      }
    }
  }

  .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
    padding: 0;
    border-radius: 0;

    &::after {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: $color-grey-21;
    }
  }

  .os-theme-dark > .os-scrollbar-vertical, .os-theme-light > .os-scrollbar-vertical {
    width: 5px;
  }

  .os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: $color-grey-20;
    border-radius: 0;
    z-index: 2;
  }

  &__category-content {
    font-size: 14px;
    width: 100%;
    display: none;
    padding: .1px;

    @include screen('lg') {
      overflow: hidden;
    }

    &.is-active-passive {
      display: block;
    }
  }

  &__category-selected {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    background: black;
    text-align: center;
    cursor: pointer;
    transition: opacity $ease-main;

    @include rule(margin-bottom, (xl: 9px, lg: 0));
    @include rule(margin-top, (xl: -9px, lg: 0));

    &:hover {
      opacity: .5;
    }
  }

  &__category {
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 33px;
    padding: 0 10px;
    text-align: center;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__category-grid {
    @include rule(margin-top, (xl: 17px, lg: 0));
  }

  &__buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62px;
    display: flex;
    padding: 0 20px;
    background: white;
    border-top: 1px solid $color-border;
    box-sizing: border-box;
    z-index: 100;
    align-items: center;
  }

  &__button {
    flex: 1;
    appearance: none;
    cursor: pointer;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid $color-border;
    border-radius: 2px;
    text-align: center;
    line-height: 33px;
    font-size: 13px;
    letter-spacing: .08em;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-left: 7px;
    }

    &_dark {
      background: black;
      border-color: black;
      color: white;
      font-weight: 600;
    }
  }
}
