.filters {
  display: block;

  @include screen('lg', min) {
    display: block !important;
  }

  @include screen('lg') {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1000;
    overflow: auto;
    padding-top: 47px;
    padding-bottom: 20px;
    display: none;
    transition: opacity $ease-main;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }

  $b: &;

  &__header {
    @include rule(height, (xl: 50px, lg: 47px));
    @include rule(padding, (lg: 5px 20px));
    @include rule(position, (xl: relative, lg: fixed));
    @include rule(left, (lg: 0));
    @include rule(top, (lg: 0));
    @include rule(right, (lg: 0));
    @include rule(z-index, (lg: 100));
    @include rule(border-bottom, (lg: 1px solid black));
    @include rule(border-right, (xl: 1px solid #E5E5E5, lg: 0));

    background: white;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &::before {
      @include screen(lg, min) {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: calc((100vw - 1600px) / -2);
        border-top: 1px solid #e5e5e5;
        height: 0;

        @media (max-width: 1720px) {
          left: -60px;
        }
      }
    }
  }

  &__title {
    @include rule(font-size, (xl: 14px, lg: 16px));
    @include rule(line-height, (xl: 18px, lg: 20px));

    font-weight: 700;
    letter-spacing: .06em;
    text-transform: uppercase;
  }

  &__results {
    @include rule(margin-left, (xl: 10px, lg: 12px));
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(line-height, (xl: 15px, lg: 14px));

    letter-spacing: .06em;
    text-transform: lowercase;

    @include screen('lg', min) {
      color: #9b9b9b;

      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }

  &__close {
    margin-left: auto;
    width: 14px;
    height: 14px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &__content {
    @include rule(margin-top, (xl: 20px, lg: 0));
    @include rule(padding-right, (xl: 25px, lg: 0));
  }

  &__section {
    border-bottom: 1px solid #e5e5e5;
    transition: border $ease-main;

    @include rule(padding-bottom, (xl: 15px, lg: 0));

    &:not(:last-child) {
      @include rule(margin-bottom, (xl: 15px, lg: 0));
    }

    &.is-active {
      @include screen(lg) {
        border-bottom-color: black;

        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }

    &:not(.is-values-checked) {

      #{$b}__section-active-items {
        display: none !important;
      }
    }
  }

  &__section-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: opacity $ease-main, padding $ease-main;
    position: relative;

    @include rule(height, (lg: 58px));
    @include rule(padding, (lg: 0 20px));

    @include screen(lg) {

      &::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        right: 5px;
        bottom: 5px;
        background: #f7f7f7;
        opacity: 0;
        transition: opacity $ease-main;
      }
    }

    #{$b}__section.is-values-checked:not(.is-active) & {
      @include screen(lg) {
        padding-left: 27px;

        &::before {
          opacity: 1;
        }
      }
    }

    &:hover {
      @include screen('lg', min) {
        opacity: .5;
      }
    }
  }

  &__header-tick {
    @include screen(lg, min) {
      display: none;
    }

    display: block;
    opacity: 0;
    transition: opacity $ease-main;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 11px;
    height: 9px;
    fill: #23a738;
    z-index: 5;
    position: absolute;

    #{$b}__section.is-values-checked:not(.is-active) & {
      opacity: 1;
    }
  }

  &__section-title {
    margin-right: 20px;
    letter-spacing: .06em;
    text-transform: uppercase;
    position: relative;
    z-index: 4;
    font-size: 14px;
    line-height: 18px;
    transition: font-weight $ease-main;

    @include rule(font-weight, (xl: 700, lg: 400));

    #{$b}__section.is-values-checked:not(.is-active) & {
      font-weight: 600;
    }

    #{$b}__section.is-active & {
      @include screen(lg) {
        font-weight: 700;
      }
    }
  }

  &__section-active-items {
    @include screen(lg, min) {
      display: none !important;
    }

    font-size: 11px;
    line-height: 14px;
    letter-spacing: .06em;
    color: #828282;
    display: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1px;
    position: relative;
    z-index: 4;
    padding-right: 40px;
    box-sizing: border-box;
    text-overflow: ellipsis;
  }

  &__icon {
    width: 7px;
    height: 13px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
    font-size: 0;
    margin-right: 3px;
    transition: transform $ease-main, opacity $ease-main;

    @include screen(lg) {
      position: absolute;
      right: 23px;
      top: 0;
      bottom: 0;
      margin: auto;

      #{$b}__section.is-values-checked:not(.is-active) & {
        opacity: 0;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }

    #{$b}__section.is-active &, #{$b}__section.is-active-passive & {
      transform: rotate(-90deg);
    }
  }

  &__section-content {
    @include rule(margin-top, (xl: 10px, lg: 0));
    @include rule(border-top, (lg: 1px solid $color-border));
    @include rule(padding, (lg: 20px));
    @include rule(border-top-color, (lg: black));

    display: none;
    transition: opacity $ease-main;
    opacity: 0;

    #{$b}__section.is-active & {
      opacity: 1;
    }

    #{$b}__section.is-active-passive & {
      display: block;
    }
  }

  &__scroll {
    @include rule(padding-right, (xl: 25px, lg: 0));
    @include rule(max-height, (xl: 256px, lg: none));
    @include rule(overflow, (lg: visible !important));

    .os-padding, .os-viewport {
      @include rule(overflow, (lg: visible !important));
    }

    .os-content-glue {
      @include screen(lg) {
        height: auto !important;
        width: auto !important;
      }
    }
  }

  &__container {
    display: block;
  }

  &__link {
    @include rule(font-size, (xl: 13px, lg: 12px));
    @include rule(line-height, (xl: 16px, lg: 15px));

    text-align: right;
    letter-spacing: .06em;
    text-transform: uppercase;

    a {
      text-decoration: underline;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__grid {
    padding: .1px;

    @include screen('lg') {
      overflow: hidden;
    }
  }

  &__checkbox {
    display: block;
    cursor: pointer;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 6px, lg: 21px));
    }

    input {
      display: none;
    }
  }

  &__checkbox-content {
    display: flex;
    align-items: center;
    position: relative;

    @include screen(lg) {
      transition: margin $ease-main, padding $ease-main, background $ease-main;

      #{$b}__checkbox input:checked + & {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
        background: #f7f7f7;
      }

      #{$b}__checkbox:not(:first-child) input:checked + & {
        margin-top: -16px;
      }

      #{$b}__checkbox:not(:last-child) input:checked + & {
        margin-bottom: -16px;
      }
    }
  }

  &__checkbox-tick {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 11px;
    height: 9px;
    fill: #23a738;
    opacity: 0;
    transition: opacity $ease-main;

    #{$b}__checkbox input:checked + #{$b}__checkbox-content & {
      opacity: 1;
    }
  }

  &__checkbox-box {
    box-sizing: border-box;
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    flex-shrink: 0;
    transition: background $ease-main;

    @include rule(margin-right, (xl: 15px, lg: 13px));

    #{$b}__checkbox input:checked + #{$b}__checkbox-content & {
      background: black;
    }
  }

  &__checkbox-color {
    box-sizing: border-box;
    display: block;
    width: 11px;
    height: 11px;
    box-shadow: 0 0 0 1px rgba(black, .1) inset;
    border-radius: 50%;

    @include rule(margin-right, (xl: 12px, lg: 9px));
  }

  &__checkbox-text {
    @include rule(font-size, (xl: 14px, lg: 12px));
    @include rule(line-height, (xl: 18px, lg: 15px));

    letter-spacing: .06em;
    flex-grow: 1;
  }

  .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
    padding: 0;
    border-radius: 0;
    background: #c4c4c4;
  }

  .os-viewport, .os-padding {
    @include rule(position, (lg: static !important));
  }

  .os-theme-dark > .os-scrollbar-vertical, .os-theme-light > .os-scrollbar-vertical {
    width: 2px;
  }

  .os-theme-dark > .os-scrollbar-vertical, .os-theme-dark > .os-scrollbar-horizontal {
    @include rule(display, (lg: none !important));
  }

  .os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: black;
    border-radius: 0;
    z-index: 2;
  }

  &__category-content {
    font-size: 14px;
    width: 100%;
    display: none;
    padding: .1px;

    @include screen('lg') {
      overflow: hidden;
    }

    &.is-active-passive {
      display: block;
    }
  }

  &__category-selected {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .06em;
    text-transform: uppercase;
    background: black;
    text-align: center;
    cursor: pointer;
    transition: opacity $ease-main;

    @include rule(margin-bottom, (xl: 9px, lg: 0));
    @include rule(margin-top, (xl: -9px, lg: 0));

    &:hover {
      opacity: .5;
    }
  }

  &__category {
    display: block;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__category-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    svg {
      margin-left: auto;
      width: 7px;
      height: 13px;
      transform: rotate(90deg);
      transition: transform $ease-main;
      margin-right: 3px;
    }

    #{$b}__category.is-active & {

      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__category-accordion {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: none;
  }

  &__category-link {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__buttons {
    padding: 0 20px;
    background: white;
    margin-top: 50px;
    box-sizing: border-box;
    z-index: 100;
  }

  &__button {
    width: 100%;
    display: block;

    &:not(:first-child) {
      margin-top: 28px;
    }

    &_dark {

    }

    &_clear {
      font-size: 11px;
      line-height: 14px;
      letter-spacing: .06em;
      color: #696969;
      text-align: center;
      padding: 0 0 7px;
      border-bottom: 1px solid #b6b6b6;
      text-transform: uppercase;
    }
  }
}
