mixin product-accordions()
  +b.product-accordions&attributes(attributes)
    each item in getData('product-accordions')
      +e.section(class=item.class)
        if item.text
          +e.P.text!= item.text

        if item.accordion
          +e.accordion
           +e.button
             span!= item.accordion.title
             +icon('arrow_right_burger')
           +e.content
             +e.wrapper
               p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nunc sed posuere tincidunt. Fusce id commodo metus. Integer vel velit suscipit, pulvinar magna vel, hendrerit mauris.

        if item.delivery
          +e.delivery
            b ΜΕΤΑΦΟΡΙΚA:
            span ΔΩΡΕΑΝ ΣΕ ΟΛΗ ΤΗΝ ΕΛΛΑΔΑ
            +icon('package')

mixin ui-kit-product-accordions()
  +ui-section
    +ui-section-head
      +ui-title Product Accordions
      +ui-path
        p Component: components/product-accordions/product-accordions

    +ui-section-content()
      +product-accordions

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
