.product-accordions {
  display: block;

  @include screen(lg) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 11px 20px;
    background: $color-grey-13;
  }

  $b: &;

  &__section {
    padding-top: 11px;
    padding-bottom: 11px;

    &:not(:last-child) {
      @include screen(lg, min) {
        border-bottom: 1px solid $color-red-36;
      }
    }
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
  }

  &__accordion {
  }

  &__delivery {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .06em;
    flex-wrap: wrap;

    b {
      color: black;
      margin-right: 8px;
      font-weight: inherit;
    }

    span {
      color: $color-red-38;
      margin-right: 15px;
    }

    svg {
      width: 27px;
      height: 15px;
      fill: $color-red-33;
      flex-shrink: 0;
    }
  }

  &__button {
    @include rule(line-height, (xl: 16px, lg: 15px));

    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: .06em;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;

    span {
      flex-grow: 1;
    }

    svg {
      @include rule(margin-right, (xl: 17px, lg: 0));

      width: 12px;
      height: 12px;
      transform: rotate(90deg);
      transition: transform $ease-main;
      flex-shrink: 0;
      fill: $color-red-39;
    }

    #{$b}__accordion.is-active & {

      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__content {
    display: none;
  }

  &__wrapper {
    padding: 10px 0 0;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;

    p {

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}
