mixin bottom-popups()
  +b.bottom-popups
    +bottom-popup#popup-size
      +popup-size

    +popup-preview

mixin bottom-popup()
  +b.bottom-popup&attributes(attributes)
    +e.popup
      block

mixin ui-kit-bottom-popup()
  +ui-section
    +ui-section-head
      +ui-title Component bottom-popup
      +ui-path
        p Component: components/bottom-popup/bottom-popup
      +ui-description
        p Component description

    +ui-section-content()
      +bottom-popup

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
