.bottom-popup {
  background: rgba(239, 239, 239, .85);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  z-index: 100000;
  transition: opacity $ease-main;
  opacity: 0;
  display: none;
  transform: translate3d(0, 0, 0);

  &.is-active {
    opacity: 1;
  }

  &::before {
    content: '';
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: bottom;
    width: 0;
  }

  $b: &;

  &__popup {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    transition: transform $ease-main;
    transform: translate3d(0, 100%, 0);

    #{$b}.is-active & {
      transform: translate3d(0, 0, 0);
      transition-delay: .1s;
    }
  }
}
