mixin cart-item(data)
  +b.CartItem&attributes(attributes)
    +e.image.CartItem-Picture
      img(src=data.image)

    +e.content
      +e.texts
        +e.title-wrapper
          +e.P.title.CartItem-Heading!= data.title
        +e.items
          +e.item
            span Χρώμα:
            span!= data.color
          +e.item
            span Μέγεθος:
            span S-8

      +e.numberbox
        +input-number().CartItem-Qty

      +e.prices.CartItem-Price
        +e.price!= data.price

      +e.controls
        +e.LABEL.control._favourite
          input(type="checkbox" name="favourites")
          +icon('heart')

        +e.control._remove.js-cart-remove.CartItem-Delete
          +icon('remove', true).show-lg
          +icon('close', true).hide-lg

        +e.control._repeat.show-lg
          +icon('repeat')

mixin ui-kit-cart-item()
  +ui-section
    +ui-section-head
      +ui-title Cart item
      +ui-path
        p Component: components/cart-item/cart-item

    +ui-section-content()
      +cart-item(getData('cart-items')[0])

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
