.CartItem {
  display: flex;
  transition: margin $ease-main, opacity $ease-main, transform $ease-main, border-width $ease-main;

  @include rule(padding, (xl: 12px 0, lg: 15px 20px));

  @include screen(lg) {
    margin: 0 -20px;

    &:nth-child(2n) {
      background: #f7f7f7;
    }
  }

  @include screen(lg, min) {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e5e5e5;
    align-items: flex-start;

    &:first-child {
      border-top-width: 1px;
    }
  }

  &_small {
    border: 0;
    margin: 0;
    padding: 0;

    .input-numberbox {
      height: 15px;

      .input-numberbox__input {
        font-size: 12px;
      }

      .input-numberbox__button {
        font-size: 14px;
      }
    }
  }

  &.is-removed {
    opacity: 0;
    transform: scale(.5);
  }

  $b: &;

  &__image {
    @include rule(width, (xl: 94px, lg: 70px));
    @include rule(height, (xl: 141px, lg: 105px));
    @include rule(margin-right, (xl: 20px, lg: 10px));

    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    img {
      @include fill-img;
    }

    #{$b}_small & {
      width: 58px;
      height: 87px;
      margin-right: 10px;
    }
  }

  &__content {
    @include rule(display, (xl: flex, lg: block));
    @include rule(padding-top, (xl: 20px, lg: 0));
    @include rule(position, (lg: relative));
    @include rule(padding-bottom, (lg: 30px));

    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;

    > *:not(:first-child) {
      @include rule(padding-left, (xl: 30px, lg: 0));
    }

    #{$b}_small & {
      display: block;
      padding-top: 0;
      position: relative;
      padding-bottom: 30px;

      > *:not(:first-child) {
        padding-left: 0;
      }
    }
  }

  &__title-wrapper {
    @include rule(display, (lg: grid));
    @include rule(margin-bottom, (lg: 3px));

    #{$b}_small & {
      display: grid;
      margin-bottom: 3px;
    }
  }

  &__texts {
    @include rule(width, (xl: 280px, lg: auto));

    #{$b}_small & {
      width: auto;
    }
  }

  &__title {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .06em;
    text-transform: uppercase;

    @include rule(font-size, (xl: 14px, lg: 12px));
    @include rule(margin-bottom, (xl: 9px, lg: 0));
    @include ellipsis(150px);

    #{$b}_small & {
      font-size: 12px;
      margin-bottom: 0;

      @include ellipsis(150px);
    }
  }

  &__items {
    @include rule(display, (xl: block, lg: flex));

    #{$b}_small & {
      display: flex;
    }
  }

  &__item {
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .06em;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    @include rule(font-weight, (xl: 300, lg: 400));

    #{$b}_small & {
      font-weight: 400;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 5px, lg: 0));
      @include rule(margin-left, (lg: 14px));

      #{$b}_small & {
        margin-left: 14px;
        margin-top: 0;
      }
    }

    span {

      &:first-child {
        @include rule(display, (lg: none));

        #{$b}_small & {
          display: none;
        }
      }

      &:last-child {
        @include screen(lg, min) {
          margin-left: 7px;
          font-weight: 400;
        }

        #{$b}_small & {
          margin-left: 0;
          font-weight: 400;
        }
      }
    }
  }

  &__numberbox {
    @include rule(width, (xl: 67px, lg: 57px));

    @include screen(lg) {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    #{$b}_small & {
      width: 43px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__prices {
    @include rule(margin-top, (lg: 7px));

    #{$b}_small & {
      margin-top: 7px;
    }
  }

  &__price {
    @include rule(font-size, (xl: 16px, lg: 14px));
    @include rule(line-height, (xl: 20px, lg: 1));
    @include rule(font-weight, (xl: 600, lg: 700));

    letter-spacing: .06em;
    text-transform: uppercase;
    min-width: 100px;
    text-align: left;

    #{$b}_small & {
      font-size: 12px;
      line-height: 1;
      font-weight: 700;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    @include screen(lg) {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: space-between;
    }

    #{$b}_small & {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__control {
    font-size: 0;
    text-align: center;

    @include rule(fill, (lg: #B0B0B0));

    #{$b}_small & {
      fill: #b0b0b0;

      .hide-lg, &.hide-lg {
        display: none !important;
      }

      .show-lg, &.show-lg {
        display: block !important;
      }
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 19px, lg: 0));

      #{$b}_small & {
        margin-left: 0;
      }
    }

    &_favourite {
      cursor: pointer;

      input {
        display: none;

        &:checked + svg {
          fill: $color-red;
        }
      }

      svg {
        @include rule(width, (xl: 18px, lg: 15px));
        @include rule(height, (xl: 16px, lg: 15px));

        transition: fill $ease-main;

        #{$b}_small & {
          width: 15px;
          height: 15px;
        }
      }
    }

    &_remove {
      transition: opacity $ease-main;
      cursor: pointer;

      &:hover {
        opacity: .5;
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }

    &_repeat {

      svg {
        width: 15px;
        height: 15px;
      }

      transition: opacity $ease-main;
      cursor: pointer;

      &:hover {
        opacity: .5;
      }
    }
  }
}
