extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Product'

block content
  +product(true)

  +section
    .container
      +product-slider-tabs

  +section.hide-lg
    .container
      +recently
