extends ../../layouts/default

block head
  - var pageTitle = projectName + 'Product'
  - var productHeader = true;

block content
  +product

  +section
    .container
      +product-slider-tabs

  +section.hide-lg
    .container
      +recently
