.product-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;

  $b: &;

  &__link {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: .06em;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;

      svg {

        &:not(:first-child) {
          transform: translate3d(5px, 0, 0);
        }

        &:not(:last-child) {
          transform: rotate(180deg) translate3d(5px, 0, 0);
        }
      }
    }

    svg {
      width: 7px;
      height: 10px;
      transition: transform $ease-main;

      &:not(:first-child) {
        margin-left: 9px;
      }

      &:not(:last-child) {
        margin-right: 9px;
        transform: rotate(180deg);
      }
    }

    &_main {
      padding: 0 22px;
      margin: 0 22px;
      border-width: 0 1px;
      border-style: solid;
      border-color: black;
      text-decoration: underline;
    }
  }
}
