.scroll-top {
  @include rule(right, (xl: 25px, lg: 20px));
  @include rule(bottom, (xl: 25px, lg: 20px));
  @include rule(width, (xl: 60px, lg: 30px));
  @include rule(height, (xl: 60px, lg: 30px));
  @include rule(border-radius, (xl: 2px, lg: 0));

  position: fixed;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
  flex-direction: column;
  cursor: pointer;
  transition: opacity $ease-main, transform $ease-main;
  opacity: 0;
  transform: translate3d(0, 5px, 0);
  display: none;

  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &:hover {
    opacity: .5;
    transform: translate3d(0, -5px, 0);
  }

  $b: &;

  svg {
    @include rule(width, (xl: 20px, lg: 14px));
    @include rule(height, (xl: 11px, lg: 14px));
  }

  span {
    margin-top: 10px;
    font-family: $font-main;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .06em;
    text-transform: uppercase;
  }
}
