.scroll-top {
  @include rule(right, (xl: 60px, lg: 20px));
  @include rule(bottom, (xl: 60px, lg: 20px));
  @include rule(width, (xl: 48px, lg: 24px));
  @include rule(height, (xl: 48px, lg: 24px));

  position: fixed;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  transition: opacity $ease-main, transform $ease-main;
  opacity: 0;
  transform: translate3d(0, 5px, 0);
  display: none;

  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &:hover {
    opacity: .5;
    transform: translate3d(0, -5px, 0);
  }

  $b: &;

  svg {
    @include rule(width, (xl: 26px, lg: 13px));
    @include rule(height, (xl: 14px, lg: 7px));
    @include center-image;
  }
}
