.shop-list {
  display: block;
  padding-top: .1px;

  $b: &;

  &__list {
    counter-reset: list;
    display: flex;
    flex-wrap: wrap;

    @include rule(margin, (xl: -36px -13px 0, lg: 0));
  }

  &__shop {
    @include rule(width, (xl: (1/3)*100%, lg: 100%));
    @include rule(padding, (xl: 36px 13px 0, lg: 0));

    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: flex;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 0, lg: 16px));
    }
  }

  &__wrapper {
    background: $color-grey-41;
    transition: border-color $ease-main;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include rule(border-bottom, (xl: 1px solid $color-grey-41, lg: 0));
    @include rule(padding, (xl: 20px 40px 25px, lg: 17px 24px 17px));

    &::before {
      @include rule(width, (xl: 29px, lg: 21px));
      @include rule(height, (xl: 40px, lg: 29px));
      @include rule(font-size, (xl: 16px, lg: 14px));
      @include rule(left, (xl: -5px, lg: 3px));
      @include rule(top, (xl: -5px, lg: -7px));
      @include rule(line-height, (xl: 33px, lg: 25px));

      content: counter(list);
      counter-increment: list;
      font-style: normal;
      font-weight: 700;
      letter-spacing: .06em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      flex-shrink: 0;
      color: white;
      position: absolute;
      background-image: url('../images/shop-pin.svg');
      background-size: 100% 100%;
      text-align: center;
    }

    #{$b}__shop.is-active & {
      border-bottom-color: black;
    }
  }

  &__title {
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(line-height, (xl: 16px, lg: 15px));

    font-weight: 600;
    letter-spacing: .06em;
  }

  &__text {
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(line-height, (xl: 16px, lg: 15px));

    font-weight: 300;
    letter-spacing: .06em;
    flex-grow: 1;

    .is-upper {
      text-transform: uppercase;
    }
  }

  &__title, &__text {
    padding-right: 105px;
  }

  &__photo {
    @include rule(width, (xl: 121px, lg: 100px));
    @include rule(height, (xl: 110px, lg: 90px));

    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;

    img {
      @include fill-img;
    }
  }

  &__button {
    @include rule(margin-top, (xl: 22px, lg: 11px));
    @include rule(padding, (xl: 0 17px, lg: 0 11px));

    height: 34px;
    line-height: 32px;
    border-color: $color-grey-37;
    font-size: 12px;
    font-weight: 600;
    transition: background-color $ease-main, border-color $ease-main, color $ease-main;
    opacity: 1 !important;

    #{$b}__shop:hover & {
      border-color: black;
    }

    #{$b}__shop.is-active & {
      background: black;
      border-color: black;
      color: white;
    }
  }
}
