.shop-list {
  display: block;

  @include rule(margin-left, (lg: -20px));
  @include rule(margin-right, (lg: -20px));
  @include rule(padding-right, (xl: 15px, lg: 0));
  @include rule(border-bottom, (xl: 1px solid rgba(black, .07), lg: 0));
  @include rule(height, (xl: 220px, lg: auto));

  $b: &;

  .os-scrollbar-vertical {
    top: 0;
    right: 0;
    bottom: 17px !important;
    padding: 0;
    width: 3px;
  }

  .os-scrollbar-track {
    background: $color-grey-17 !important;
    border-radius: 100px;
  }

  .os-scrollbar-handle {
    background: black !important;
    border-radius: 100px;
  }

  &__list {
    counter-reset: list;
  }

  &__shop {
    @include rule(padding, (xl: 13px 25px 11px 18px, lg: 15px 20px 14px));
    @include rule(border-radius, (xl: 2px, lg: 0));
    @include rule(border-bottom, (xl: 1px solid transparent, lg: 0));
    @include rule(border-top, (lg: 1px solid $color-grey-7));

    position: relative;
    transition: background-color $ease-main, border-color $ease-main;
    cursor: pointer;
    display: flex;

    &:last-child {
      @include rule(border-bottom, (lg: 1px solid $color-grey-7));
    }

    &::before {
      content: '0' counter(list) '.';
      counter-increment: list;
      font-family: $font-main;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: .06em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000;
      width: 44px;
      flex-shrink: 0;

      @include rule(display, (lg: none));
    }

    &:nth-child(n+10)::before {
      content: counter(list) '.';
    }

    &:hover, &.is-active {
      background-color: $color-grey-7;
    }

    &.is-active {
      @include rule(border-color, (xl: rgba(black, .07), lg: $color-grey-18));

      &:last-child {
        @include rule(border-bottom-color, (lg: $color-border));
      }

      & + #{$b}__shop {
        @include rule(border-top-color, (lg: $color-border));
      }
    }
  }

  &__title {
    @include rule(font-size, (xl: 15px, lg: 12px));
    @include rule(line-height, (xl: 19px, lg: 15px));

    font-weight: bold;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__text {
    margin-top: 2px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    @include rule(color, (xl: $color-grey-12, lg: black));
  }

  &__tel {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    margin-top: 1px;
  }

  &__link {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .06em;
    text-decoration-line: underline;
  }
}
