mixin triangle-heading(tag)
  +b(tag || 'p').triangle-heading&attributes(attributes)
    block

mixin ui-kit-triangle-heading()
  +ui-section
    +ui-section-head
      +ui-title Heading with triangle
      +ui-path
        p Block: blocks/triangle-heading/triangle-heading

    +ui-section-content()
      +triangle-heading TITLE

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
