mixin product-slider(data)
  +b.product-slider.js-product-slider&attributes(attributes)
    +e.header
      +e.title
        block

      +e.arrows
        +e.arrow._prev
          +icon('arrow_right_small')

        +e.arrow._next
          +icon('arrow_right_small')

    +e.content
      +e.slider.swiper-container
        .swiper-wrapper
          each item in data
            +product-card(item)._small.swiper-slide.product-slider__slide

mixin ui-kit-product-slider()
  +ui-section
    +ui-section-head
      +ui-title Product slider
      +ui-path
        p Component: components/product-slider/product-slider

    +ui-section-content()
      +product-slider(getData('product-cards_preview'))

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
