mixin product-slider(data, small)
  +b.product-slider.js-product-slider&attributes(attributes)
    +e.header
      if !small
        +triangle-heading('h2')._small.__title
          block
      else
        +e.titles
          +e.P.title-small
            block
          +e.P.title-small.show-lg
            a(href="#") SHOP THE LOOK

      +e.P.text.show-lg 5 προϊόντα

    +e.content
      +e.slider.swiper-container
        .swiper-wrapper
          each item in data
            +product-card(item)(class=(small ? false : '_preview')).swiper-slide.product-slider__slide

      +e.arrows
        +e.arrow._prev
          +icon('arrow_right')

        +e.arrow._next
          +icon('arrow_right')

mixin ui-kit-product-slider()
  +ui-section
    +ui-section-head
      +ui-title Product slider
      +ui-path
        p Component: components/product-slider/product-slider

    +ui-section-content()
      +product-slider(getData('product-cards_preview'))

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
