.product-slider {
  display: block;

  $b: &;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0;
  }

  &__title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .06em;
    font-family: $font-second;

    #{$b}_no-mobile-arrows & {
      @include screen(lg) {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  &__content {
    position: relative;

    @include rule(margin-top, (xl: 11px, lg: 13px));
  }

  &__slider {
    @include rule(margin-left, (lg: -20px));
    @include rule(margin-right, (lg: -20px));
  }

  &__slide {

  }

  &__arrows {
    width: auto;
    display: flex;
    align-items: center;

    #{$b}_no-mobile-arrows & {
      @include screen(lg) {
        display: none;
      }
    }
  }

  &__arrow {
    width: 6px;
    height: 12px;
    font-size: 0;
    cursor: pointer;
    transition: opacity $ease-main;
    position: relative;
    fill: black;

    &::after {
      content: '';
      position: absolute;
      left: -5px;
      top: -5px;
      right: -5px;
      bottom: -5px;
    }

    &:not(:first-child) {
      margin-left: 12px;
    }

    &:hover {
      opacity: .5;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &_prev {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: .5;
      pointer-events: none;
    }
  }

  &_small {
    @include screen(lg, min) {
      display: flex;

      #{$b}__header {
        flex: 1;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      #{$b}__title {
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 18px;
      }

      .ProductCard-Content {
        display: none;
      }

      #{$b}__arrow:not(:first-child) {
        margin-left: 23px;
      }

      .ProductCard__image {
        transition: opacity $ease-main;

        &:hover {
          opacity: .5;
        }
      }

      #{$b}__content {
        width: 264px;
        margin-top: 0;
      }
    }
  }

  .slider-dots {
    margin-top: 18px;
  }
}
