.store-tooltip {
  display: none;
  background: black;
  color: white;
  padding: 52px 24px 24px;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
  transition: transform $ease-main, opacity $ease-main;

  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__text {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__country {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-top: 1px;
  }

  &__phone {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    b {
      font-weight: 700;
    }
  }

  &__schedule {
    margin-top: 22px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .06em;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;

    li {
      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 4px;
      }
    }

    span {

      &:last-child {
        letter-spacing: 0;
      }
    }
  }

  &__button {
    margin-top: 43px;
    width: 100%;
    padding: 0 10px;
    height: 35px;
    line-height: 33px;
    border: 1px solid white;
    color: white;
    background: transparent;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 12px;
    text-transform: none;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    fill: white;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    border-color: transparent #000 transparent transparent;
    position: absolute;
    right: 100%;
    bottom: 184px;
  }
}
