.store-tooltip {
  @include rule(padding, (xl: 27px 33px 33px, lg: 0 14px 0));
  @include rule(background, (xl: white, lg: transparent));
  @include rule(width, (xl: 280px, lg: auto));

  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;

  $b: &;

  &__title {
    @include rule(font-size, (xl: 12px, lg: 11px));

    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.06em;
  }

  &__schedule {
    @include rule(font-size, (xl: 12px, lg: 11px));
    @include rule(margin-top, (xl: 3px, lg: 5px));

    line-height: 25px;
    letter-spacing: 0.06em;

    li {
      display: flex;
    }

    span {

      &:first-child {
        width: 80px;
        margin-right: 3px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-decoration-line: underline;
    transition: opacity $ease-main;
    margin-top: 26px;

    &:hover {
      opacity: .5;
    }

    svg {
      width: 25px;
      height: 10px;
      margin-left: 16px;
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
    height: 14px;
    fill: black;
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .5;
    }
  }
}
