mixin store-tooltip()
  +b.store-tooltip&attributes(attributes)
    - var data = getData('stores')[0];

    +e.content

mixin ui-kit-store-tooltip()
  +ui-section
    +ui-section-head
      +ui-title Component store-tooltip
      +ui-path
        p Component: components/store-tooltip/store-tooltip
      +ui-description
        p Component description

    +ui-section-content()
      +store-tooltip

    //- With +ui-section-content(true) container disappears
    //- Choose +ui-elements-list() for creating list of inline elements
    //- Border for special section: +ui-special()
